<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

    <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a title="Radio Chanquina imagen de Facebook" class="btn btn-primary btn-floating m-1"
                    style="background-color: transparent; border: none;" href="https://www.facebook.com/chanquinafm"
                    target="_blank" role="button"><img src="/img_rss/facebook.png" width="18px"
                        alt="imagen de facebook de Radio Chanquina" />
                </a>

                <!-- Whatsapp -->
                <a title="Radio Chanquina imagen de whatsapp" class="btn btn-primary btn-floating m-1"
                    style="background-color: transparent; border: none;"
                    href="https://api.whatsapp.com/send?phone=56995959613" target="_blank" role="button"><img
                        src="/img_rss/whatsapp.png" width="18px" alt="imagen de whatsapp de Radio Chanquina" />
                </a>

                <!-- Celular -->
                <a title="Radio Chanquina imagen de Celular" class="btn btn-primary btn-floating m-1"
                    style="background-color: transparent; border: none;" href="tel:+56963417382" target="_blank"
                    role="button"><img src="/img_rss/celular.png" width="18px"
                        alt="imagen de celular de Radio Chanquina" />
                </a>

                <!-- Instagram -->
                <a title="Radio Chanquina imagen de Instagram" class="btn btn-primary btn-floating m-1"
                    style="background-color: transparent; border: none;" href="https://instagram.com/radiochanquina"
                    target="_blank" role="button"><img src="/img_rss/instagram.png" width="18px"
                        alt="imagen de instagram de Radio Chanquina" />
                </a>

                <!-- Geo -->
                <a title="Radio Chanquina imagen de Ubicación" class="btn btn-primary btn-floating m-1"
                    style="background-color: transparent; border: none;" href="https://goo.gl/maps/8pf6J8bcqGcA7yB97"
                    target="_blank" role="button"><img src="/img_rss/ubicacion.png" width="18px"
                        alt="imagen de ubicación de Radio Chanquina" />
                </a>
            </section>
            <!-- Section: Social media -->

            <!-- Datos de la empresa -->
            <section class="mb-4 text-dark">
                <h5><strong>Radio Tutuven</strong></h5>
                {{!-- <p>Dirección: Federico Albert #421, Chanco</p>
                <p>Celular: +56963417382</p>
                <p>Teléfono Fijo: 442910699</p> --}}


                <!-- Agrega más datos según sea necesario -->
            </section>
            <!-- Fin de datos de la empresa -->

        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright by Héctor Brito y Paula Torres:
            <a class="text-dark" href="https://www.radiotutuven.cl/">Radio Tutuven </a>
            <br>
            <a href="/politicas">Politicas de Privacidad de Radio Tutuven</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->