<header class="section page-header">
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar">
      <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
          <div class="rd-navbar-panel">
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap">
              <span></span>
            </button>
          </div>
          <div class="rd-navbar-nav-wrap">
            <ul class="rd-navbar-nav">
              <li class="active"><a href="/">Inicio</a></li>
              <li><a href="/quienes_somos">¿Quiénes Somos?</a></li>
              <li><a href="/fotos">Fotos</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">Historias</a>
                <ul class="dropdown-menu">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Históricos</a>
                    <ul class="dropdown-menu">
                      <li><a href="/tranque_tutuven">Tranque Tutuven</a></li>
                      <li><a href="/faro_carranza_chanco">Faro Carranza</a></li>
                      <li><a href="/cienagas-de-name">Ciénagas de Name</a></li>
                      <li><a href="/curanipe">Balneario Curanipe</a></li>
                      <li><a href="/buscarril">Bus Carril</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Reservas Nacionales de Chile</a>
                    <ul class="dropdown-menu">
                      <li><a href="/reserva-nacional-federico-albert">Reserva Nacional Federico Albert</a></li>
                      <li><a href="/reserva-nacional-los-ruiles">Reserva Nacional Los Ruiles</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Personajes Históricos</a>
                    <ul class="dropdown-menu">
                      <li><a href="/antonio-varas-de-la-barra">Antonio Varas de la Barra</a></li>
                      <li><a href="/guadalupe-del-carmen">Guadalupe del Carmen</a></li>
                      <li><a href="/federico-albert-faupp">Federico Albert Faupp</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Comunas</a>
                    <ul class="dropdown-menu">
                      <li><a href="/cauquenes">Cauquenes</a></li>
                      <li><a href="/chanco">Chanco</a></li>
                      <li><a href="/pelluhue">Pelluhue</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle">Páginas Amigas</a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.carabineros.cl/" target="_blank">Carabineros de Chile</a></li>
                  <li><a href="https://lasuperestacion.cl/" target="_blank">La Súper Estación</a></li>
                  <li><a href="https://www.chanquinafm.cl/" target="_blank">Radio Chanquina</a></li>
                  <li><a href="https://www.radiolanube.cl/" target="_blank">Radio La Nube</a></li>
                  <li><a href="https://cauquenino.cl/" target="_blank">CauqueninoCl</a></li>
                  <li><a href="https://cauquenesnet.cl/" target="_blank">CauquenesNet</a></li>
                </ul>
              </li>
              <li><a href="/contacto">Contacto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>