<section class="">
  <div class="shell">
    <div class="range">
      <div class="cell-sm-4 cell-md-4 wow">
        <img class="img-fluid" src="/img_player/radiotutuven_logo.png" alt="Logo" width="80" />
      </div>
      <div class="cell-sm-4 cell-md-4 wow">
        <button id="playBtn" class="button1 button-primary-outline button-anis">
          <i class="bi bi-play"></i>
          Play
        </button>
      </div>
      <div class="cell-sm-4 cell-md-4 wow">
        Radio Tutuven
      </div>
    </div>
  </div>
</section>