<!-- REPRO -->
<div class="container my-5">
  <div id="bg-repro" class="fixed-bottom bg-gradient">
    <div class="row">
      <div class="col-12 text-center mt-1">
        <div class="row">
          <div class="col-4 d-flex justify-content-center align-items-center">
            <div class="row">
              <div class="col-6 col-xs-6 col-sm-6 col-md-6 mx-5">
                <img class="img-fluid" src="/img_player/radio_tutuven_logo.png" alt="Logo" width="80" />
              </div>
              <div class="col-6 col-xs-6 col-sm-6 col-md-6 mx-5">
                <small style="color: rgb(255, 255, 255)" class="text-center">
                  En vivo
                </small>
              </div>
            </div>
          </div>
          <div class="col-4 col-xs-3 d-flex align-items-center justify-content-center">
            <button id="playBtn" class="btn btn-sm">
              <i class="bi bi-play"></i>
              Play
            </button>
          </div>

          <div class="col-3 col-xs-3 d-flex align-items-center justify-content-center">
            <div class="row">
              <div class="col-12">
                <h6>
                  <strong>
                    Radio Tutuvén
                  </strong>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIN REPRO -->