<br><br><br>
<section id="bg-repro" class="fixed-bottom">
  <div class="row my-3">
    <div class="col-12 text-center mt-1">
      <div class="row">

        <div class="col-4 col-xs-4 col-sm-4 d-flex justify-content-center align-items-center">
          <img class="img-fluid" src="/images/radiotutuven_logo.png" alt="Logo Radio Tutuven Cauquenes player"
            width="100" />
        </div>

        <div class="col-3 col-xs-3 col-sm-3 d-flex justify-content-center align-items-center">
          <button id="playBtn" class="btn btn-light btn-outline-light">
            <p> 
                <div class="animated-text">ESCUCHA AQUÍ</div>
            </p>
          </button>
        </div>

        <div class="col-5 col-xs-5 col-sm-5 d-flex justify-content-center align-items-center">

          <span class="clock"></span>


        </div>


      </div>

    </div>
  </div>
  </div>

</section>