{{> pageloader}}
<!-- Page-->
<div class="page">

    <div class="shell text-center">
        <br>
        <div class="range range-50 range-sm-center">
            <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
                <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
            </div>
            <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
                <h2 style="font-size: 4em;">Radio Tutuven Cauquenes</h2>
                <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
                    Sintoniza nuestra
                    programación variada y entretenida para disfrutar de la mejor música y
                    contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
            </div>
        </div>
    </div>
    {{> navbar}}


    <!-- Image Centered-->
    <section class="section section-md bg-white">
        <div class="shell">
            <div class="range">
                <div class="cell-md-12 cell-lg-12">

                    <h1>Biografía de Antonio Varas De La Barra</h1>

                    <p>Antonio Varas, Nació en Cauquenes, provincia de Maule, el 13 de junio de 1817. Hijo de Miguel Varas Vallejo, copiapino, y Agustina de la Barra Alarcón. Su niñez estuvo marcada por la muerte de su padre y por la pobreza, debido a que a su progenitor le fueron confiscados sus bienes después de la Independencia por haber sido partidario de la causa real.</p>

                    <p>Su hermano José Miguel, profesor de Filosofía del Instituto Nacional, lo llevó a Santiago becado por ese establecimiento. Al fallecer su hermano, fue protegido por Ventura Cousiño y por Manuel Montt, profesores del Instituto.</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/antonio-varas-de-la-barra.jpg" width="300px"
                            alt="Antonio Varas de la Barra">
                    </div>

                    <hr />

                    <p>A principios de 1837 fue nombrado profesor de Filosofía e inspector de alumnos externos, y al año siguiente vicerrector del Instituto Nacional. Además, recibió el título de agrimensor el 5 de noviembre de 1839, y el de abogado el 17 de agosto de 1842, año en que también fue nombrado rector del Instituto Nacional, a los 25 años. Dedicó más de 40 años a una intensa vida pública, como ministro y parlamentario en varias ocasiones.</p>

                    <p>Se casó con Irene Herrera, quien fue la primera mujer periodista, siendo por muchos años la traductora de El Mercurio de Santiago. Con ella tuvo tres hijos. Falleció en 1886.</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/antonio-varas-de-la-barra1.jpg" width="300px"
                            alt="Antonio Varas de la Barra 1">
                    </div>
                    <hr />

                    <p>Como rector del Instituto Nacional, Varas cumplió una destacada labor, dando comienzo al perfeccionamiento educacional en ese establecimiento. Asimismo, se inició en 1842 la construcción del nuevo edificio para el Instituto, adquiriendo el gobierno los terrenos contiguos a la Iglesia de San Diego, en la Alameda.</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/antonio-varas-de-la-barra2.jpeg" width="300px"
                            alt="Antonio Varas de la Barra 2">
                    </div>
                    <hr />

                    <p>Antonio Varas fue parte de una generación de jóvenes abogados e intelectuales que se formaron en el Instituto Nacional y que cumplieron destacadas labores políticas, como parlamentarios y ministros. Así como el Seminario Conciliar estuvo destinado a formar a los clérigos, y la Escuela Militar a los soldados -dice Domingo Amunátegui Solar-, el Instituto Nacional estaba destinado a formar a los ciudadanos. El alumno que se distinguiera en él, podía estar seguro de que llegaría a los primeros puestos del gobierno, la justicia o la política. Uno de los fundadores del Partido Nacional o Montt-Varista (1857) y creador de la Caja de Ahorros de Santiago (1861).</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/antonio-varas-de-la-barra3.jpg" width="300px"
                            alt="Antonio Varas de la Barra 3">
                    </div>
                </div>
                <br><br><br>
            </div>
        </div>
    </section>

    {{> footer}}
    {{> player}}
</div>