{{> pageloader}}
<!-- Page-->
<div class="page">

    <div class="shell">
        <br>
        <div class="range range-50 range-sm-center">
            <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
                <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
            </div>
            <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
                <h1 style="font-size: 4em;">Radio Tutuven Cauquenes</h1>
                <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
                    Sintoniza nuestra
                    programación variada y entretenida para disfrutar de la mejor música y
                    contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
            </div>
        </div>
    </div>
    {{> navbar}}



    <!-- Image Centered-->
    <section class="section section-md bg-white">
        <div class="shell">

            <div class="range">
                <div class="cell-md-8 cell-lg-8">
                    <header>
                        <h2>Historia de Cauquenes</h2>
                        <p>Explorando la rica herencia de Cauquenes desde sus raíces indígenas hasta su papel en la
                            moderna Región del Maule. Fundada el 9 de mayo de 1742, Cauquenes tiene una larga historia
                            de desarrollo y cambio, reflejando la rica tapestria cultural de Chile.</p>
                    </header>
                    <br><br>
                    <article>
                        <h3>Orígenes Precolombinos</h3>
                        <p>Antes de la llegada de los conquistadores, la zona de Cauquenes era habitada por los
                            Promaucaes, un grupo
                            indígena conocido por su feroz resistencia primero contra los incas y luego contra los
                            españoles. Este
                            pueblo guerrero habitaba entre los ríos Maule y Itata, destacándose por su organización
                            social y su
                            habilidad en la guerra.</p>
                    </article>
                    <br>
                    <article>
                        <h3>La Conquista y la Fundación Colonial</h3>
                        <p>En 1742, José Antonio Manso de Velasco, gobernador del Reino de Chile, fundó la Villa de
                            Nuestra Señora
                            de las Mercedes de Tutuvén. Este acto no solo fue un esfuerzo de colonización sino también
                            una
                            estrategia para consolidar el territorio ante posibles levantamientos indígenas y para
                            facilitar el paso
                            seguro entre Santiago y Concepción.</p>
                    </article>
                    <br>
                    <article>
                        <h3>El Siglo XIX: Reformas y Conflictos</h3>
                        <p>Durante el siglo XIX, Cauquenes, como muchas partes de Chile, fue escenario de numerosas
                            reformas,
                            incluyendo las luchas por la independencia y posteriormente, los conflictos internos que
                            definieron la
                            política chilena. La ciudad vio cómo se consolidaban las estructuras gubernamentales y cómo
                            crecía su
                            importancia regional.</p>
                    </article>
                    <br>
                    <article>
                        <h3>Modernización y Desarrollo Económico</h3>
                        <p>A principios del siglo XX, Cauquenes comenzó a experimentar un notable crecimiento económico,
                            impulsado
                            por la agricultura y, más tarde, por la industria del vino. La región se convirtió en un
                            importante
                            centro de producción agrícola, lo cual trajo consigo mejoras en la infraestructura y un
                            aumento en la
                            calidad de vida de sus habitantes.</p>
                    </article>
                    <br>
                    <article>
                        <h3>Cauquenes Hoy</h3>
                        <p>En la actualidad, Cauquenes se destaca por ser un centro cultural y económico en la Región
                            del Maule. La
                            ciudad ha sabido conservar su rica historia y tradiciones mientras se adapta a las demandas
                            del siglo
                            XXI, mostrando un equilibrio entre el respeto por el pasado y la mirada hacia el futuro.</p>
                    </article>
                    <br>
                    <article>
                        <h3>La Cultura y Tradiciones de Cauquenes</h3>
                        <p>Las tradiciones de Cauquenes se mantienen vivas a través de festivales, la gastronomía y la
                            artesanía
                            local, que son un reflejo del espíritu resiliente de sus habitantes. Cada año, festividades
                            como la
                            vendimia y otras celebraciones locales atraen a visitantes de todo el país y del extranjero,
                            deseosos de
                            experimentar la rica cultura de la región.</p>
                    </article>

                </div>
                <div class="cell-md-4 cell-lg-4">
                    <img class="mb-5" src="/images/historias/cauquenes.jpg" alt="Plaza de Armas de Cauquenes">
                    <br>
                    <br>
                    <br>
                    <img class="mt-5" src="/images/historias/plaza_de_armas_cauquenes.jpg"
                        alt="Plaza de Armas de Cauquenes en 1945">
                </div>



            </div>
        </div>
    </section>

    {{> footer}}
    {{> player}}
</div>