{{> pageloader}}
<!-- Page-->
<div class="page">

    <div class="shell">
        <br>
        <div class="range range-50 range-sm-center">
            <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
                <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
            </div>
            <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
                <h1 style="font-size: 4em;">Radio Tutuven Cauquenes</h1>
                <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
                    Sintoniza nuestra
                    programación variada y entretenida para disfrutar de la mejor música y
                    contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
            </div>
        </div>
    </div>
    {{> navbar}}


    <!-- Image Centered-->
    <section class="section section-md bg-white">
        <div class="shell">

            <div class="range">
                <div class="cell-md-8 cell-lg-8">
                    <header>
                        <h2>Historia de Chanco</h2>
                        <p>Descubre la evolución de Chanco, desde sus primeros asentamientos hasta su desarrollo en el
                            siglo XXI.</p>
                    </header>
                    <br><br>
                    <section>
                        <article>
                            <h3>Orígenes Precolombinos</h3>
                            <p>Los primeros asentamientos en Chanco datan del Periodo Arcaico, entre 4455 a.C. y 4000
                                a.C., donde grupos
                                humanos se dedicaban a la caza, pesca y recolección. La región, rica en recursos
                                naturales, alojaba a
                                estas comunidades que utilizaban herramientas de andesita, basalto, cuarzo y obsidiana
                                para subsistir.
                            </p>
                        </article>
                        <br>
                        <article>
                            <h3>Historia Colonial</h3>
                            <p>En el siglo XVI, durante la colonización española, se estableció el cacicazgo de Chanco.
                                La primera
                                capilla se construyó en el siglo XVII, marcando el inicio de una presencia europea más
                                estructurada.
                                Para 1669, documentos parroquiales registraban la presencia de 125 familias en la
                                región.</p>
                        </article>
                        <br>
                        <article>
                            <h3>Desarrollo y Tragedia en el Siglo XIX</h3>
                            <p>Originalmente asentado cerca del mar, Chanco enfrentó desafíos significativos cuando las
                                dunas avanzaron
                                sobre los cultivos y el pueblo antiguo. Gracias a los esfuerzos del botánico alemán
                                Federico Albert
                                Faupp a principios del siglo XX, se salvó el pueblo al establecerse una reserva nacional
                                que detuvo el
                                avance de las dunas.</p>
                        </article>
                        <br>
                        <article>
                            <h3>El Siglo XX y Modernización</h3>
                            <p>En 1952, Chanco fue sede de un "Presidio Especial" para reos homosexuales, un evento que
                                inicialmente
                                causó resistencia pero con el tiempo, los reos ganaron la simpatía de los locales.
                                Además, participaron
                                activamente en las obras de forestación, contribuyendo significativamente a la
                                comunidad.</p>
                        </article>
                        <br>
                        <article>
                            <h3>Chanco Hoy</h3>
                            <p>Hoy en día, Chanco es conocido por su producción de quesos de alta calidad y su belleza
                                natural
                                conservada. Continúa siendo un punto de interés cultural y turístico en la Región del
                                Maule.</p>
                        </article>
                    </section>


                </div>
                <br><br><br>
                <div class="cell-md-4 cell-lg-4">
                    <img class="mb-5" src="/images/historias/chanco_playa.jpg" alt="Plaza de Armas de Cauquenes">
                    <br>
                    <br>
                    <br>
                    <img class="mt-5" src="/images/historias/chanco_iglesia.jpg"
                        alt="Plaza de Armas de Cauquenes en 1945">
                </div>



            </div>
        </div>
    </section>

    {{> footer}}
    {{> player}}
</div>