{{> pageloader}}

<!-- Page-->
<div class="page">

    <div class="shell text-center">
        <br>
        <div class="range range-50 range-sm-center">
            <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
                <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
            </div>
            <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
                <h2 style="font-size: 4em;">Radio Tutuven Cauquenes</h2>
                <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
                    Sintoniza nuestra
                    programación variada y entretenida para disfrutar de la mejor música y
                    contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
            </div>
        </div>
    </div>
    {{> navbar}}


    <!-- Image Centered-->
    <section class="section section-md bg-white">
        <div class="shell">
            <h1 class="text-center">Coronel del Maule</h1>
            <div class="range">
                <div class="cell-md-10 cell-lg-6">
                    <figure class="figure-light"><img class="img-centered" src="images/historias/coronel-de-maule.jpg"
                            alt="" width="770" height="485" />
                        <figcaption>
                            <p>Tranque Tutuven vista panorámica</p>
                        </figcaption>
                    </figure>
                    <p>Coronel de Maule fue Comuna de Cauquenes desde 1886 hasta 1930. Cómo tal existía una Plaza, había importantes edificios, Iglesia, Correo y Retén, es decir, el Barrio Cívico. En el año 1890 se crea el Registro Civil, siendo su primer oficial civil Don Hugo Amador Pérez. En 1907, de acuerdo al censo de ese año, la comuna tenía una población de 6060 habitantes. Su territorio fue organizado por decreto del 22 de diciembre de 1891, a partir del territorio de las Subdelegaciones.</p>
                </div>

                <div class="cell-md-10 cell-lg-6 mt-5">
                    <figure class="figure-light">
                        <img src="images/historias/coronel-de-maule1.webp" alt="" width="770" height="485" />

                        <p>
                            El 24 de enero de 1890, siendo presidente de Chile Don José Manuel Balmaceda se le entrega el título de “Villa Aldea de Coronel de Maule”.
                            de 1928.

                        </p>
                        <p>
                            Esta comuna fue suprimida mediante el Decreto con Fuerza de Ley N.º 8.583 del 30 de diciembre de 1927, dictado por el presidente Carlos Ibáñez del Campo como parte de una reforma político-administrativa, anexando su territorio a la comuna de Cauquenes. La supresión se hizo efectiva a contar del 1 de febrero de 1928.
                        </p>
                    </figure>
                </div>

                <div class="shell mt-5">
                    <div class="range">

                        <div class="cell-md-10 cell-lg-6">
                            <figure class="figure-light"><img class="img-centered"
                                    src="images/historias/coronel-de-maule2.webp" alt="" width="770" height="485" />
                                <figcaption>
                                    <p>Tranque Tutuven</p>
                                </figcaption>
                            </figure>
                            <p>Existen antecedentes que durante la Independencia hubo en el sector algunas escaramuzas. Su nombre provendría de la época de la colonia; en ese tiempo, una compañía del ejército de la Región del Maule comandada por un Coronel del cuál se ignoran mayores antecedentes, se dirigía al Sur con destino al Bio-Bio, tomando el camino por el sector de Pichihuedque. Debido a las grandes lluvias e inundaciones de la época, en esta zona se empezó a comentar que en el lugar habría acampado un Coronel del Maule, quedando así esta localidad con este nombre.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    {{> footer}}
    {{> player}}
</div>