{{> pageloader}}
<!-- Page-->
<div class="page">

    <div class="shell text-center">
        <br>
        <div class="range range-50 range-sm-center">
            <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
                <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
            </div>
            <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
                <h2 style="font-size: 4em;">Radio Tutuven Cauquenes</h2>
                <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
                    Sintoniza nuestra
                    programación variada y entretenida para disfrutar de la mejor música y
                    contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
            </div>
        </div>
    </div>
    {{> navbar}}


    <!-- Image Centered-->
    <section class="section section-md bg-white">
        <div class="shell">
            <div class="range">
                <div class="cell-md-12 cell-lg-12">

                    <h1>El Obelisco</h1>

                    <p>Según información proporcionada por el Museo Histórico y Cultural de Cauquenes, en el año 1945, se construye un obelisco de 4,20 metros de altura y 10 toneladas de peso, de material de hormigón y fierro acerado, en el interior del Regimiento Andalién del General Basilio Urrutia Vásquez en honor al "Batallón Cívico Maule" que por Decreto Supremo del Presidente don Anibal Pinto Garmendia, de fecha 7 de octubre de 1880, se debió conformar por hombres de toda la antigua Provincia Maule, para ir a reforzar la Guerra del Pacífico. Este obelisco, estuvo en el regimiento hasta su cierre definitivo como unidad militar el año 1999.</p>


                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/obelisco.jpg" width="300px"
                            alt="El obelisco">
                    </div>

                    <hr />

                    <p>En diciembre del año 2021, el obelisco estuvo próximo a ser destruido, siendo lo único que estaba aún en pie del antiguo regimiento, debido a que en el recinto estaban las maquinarias de la Empresa destinada a la construcción del nuevo Hospital de Cauquenes.</p>

                    <p>El director del Museo Franklin Martínez Rivas, pudo hacer las gestiones con la empresa, con la finalidad de evitar su demolición y rescatar ese Patrimonio Cultural de la ciudad. En abril del 2022 el obelisco fue trasladado hasta el Museo y luego la Agrupación Cultural del Patrimonio Histórico de Cauquenes que administra el Museo Histórico y Cultural de Cauquenes, acordó en reunión, donar este monumento a la Ilustre Municipalidad de Cauquenes para que fuera instalado en un lugar público.</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/obelisco1.webp" width="300px"
                            alt="El obelisco 1">
                    </div>
                    <hr />

                    <p>El 13 de diciembre del año 2023, en una ceremonia pública cívico-militar, la Ilustre Municipalidad de Cauquenes, instaló el obelisco en la Plaza Prat de Cauquenes, siendo el único vestigio que se conserva del antiguo Regimiento Nro. 13 Andalién.</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/obelisco.jpg" width="300px"
                            alt="El obelisco 2">
                    </div>
                    
                </div>
                <br><br><br>
            </div>
        </div>
    </section>

    {{> footer}}
    {{> player}}
</div>