{{> pageloader}}

<!-- Page-->
<div class="page">

    <div class="shell">
        <br>
        <div class="range range-50 range-sm-center">
            <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
                <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
            </div>
            <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
                <h1 style="font-size: 4em;">Radio Tutuven Cauquenes</h1>
                <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
                    Sintoniza nuestra
                    programación variada y entretenida para disfrutar de la mejor música y
                    contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
            </div>
        </div>
    </div>
    {{> navbar}}


    <!-- Image Centered-->
    <section class="section section-md bg-white">
        <div class="shell">
            <h2 class="text-center">Faro Carranza de Chanco</h2>
            <div class="range">
                <div class="cell-md-10 cell-lg-6">
                    <figure class="figure-light"><img class="img-centered"
                            src="images/historias/faro_carranza_chanco.jpg" alt="" width="770" height="485" />
                        <figcaption>
                            <p>Faro Carranza</p>
                        </figcaption>
                    </figure>
                    <p>El Faro Cabo Carranza, también conocido como Faro Carranza, es un faro chileno ubicado en la
                        Región del Maule. Es parte de la red de faros de Chile.</p>
                </div>

                <div class="cell-md-10 cell-lg-6 mt-5">
                    <figure class="figure-light">
                        <p><img src="images/historias/faro_carranza_chanco2.jpg" alt="" width="770" height="485" />Su
                            construcción fue motivada por diversos naufragios ocurridos en las cercanías a la
                            Punta Santa Ana, como los de la goleta Joven Cecilia en 1839, la barca Sobrina
                            Enriqueta en 1850, el vapor Imperial en 1883, entre otros.2​ El más conocido de
                            estos es el del Vapor Cazador el 30 de enero de 1856. También destaca el del SS John
                            Elder, que naufragó el 17 de enero de 1892 en viaje entre Valparaíso y Talcahuano
                            con 132 personas, sin pérdidas humanas.
                        </p>
                    </figure>
                </div>

                <div class="shell mt-5">
                    <div class="range">

                        <div class="cell-md-10 cell-lg-6">
                            <figure class="figure-light"><img class="img-centered"
                                    src="images/historias/faro_carranza_chanco1.jpg" alt="" width="770" height="485" />
                                <figcaption>
                                    <p>Faro Carranza Vista Panorámica</p>
                                </figcaption>
                            </figure>
                            <p>Este faro es inaugurado el 1 de septiembre de 1895 en las cercanías de la Caleta Loanco.
                                Cuenta
                                con la particularidad de ser el único faro chileno con torre piramidal metálica de base
                                rectangular.</p>
                        </div>

                        <div class="cell-md-10 cell-lg-6 mt-5">
                            <figure class="figure-light">

                                <p><img class="img-right" src="images/historias/faro_carranza_chanco3.jpg" alt=""
                                        width="770" height="485" />Entre los relatos acerca de este faro y sus
                                    cercanías, algunos
                                    sostienen que habría sido lugar de naufragio de uno de los submarinos de la flotilla
                                    de escape de Adolf Hitler este relato se documentaría en el libro El último búnker
                                    de Hitler.
                                </p>
                            </figure>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>




    {{> footer}}
    {{> player}}
</div>