{{> pageloader}}
<!-- Page-->
<div class="page">

    <div class="shell text-center">
        <br>
        <div class="range range-50 range-sm-center">
            <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
                <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
            </div>
            <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
                <h2 style="font-size: 4em;">Radio Tutuven Cauquenes</h2>
                <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
                    Sintoniza nuestra
                    programación variada y entretenida para disfrutar de la mejor música y
                    contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
            </div>
        </div>
    </div>
    {{> navbar}}



    <!-- Image Centered-->
    <section class="section section-md bg-white">
        <div class="shell">

            <div class="range">
                <div class="cell-md-12 cell-lg-12">

                    <h1>Historia de Pelluhue, región del Maule.</h1>


                    <p>En este artículo, nos enfocaremos en la historia y características de la comuna de Pelluhue,
                        ubicada en la VII Región del Maule, Chile. La comuna se caracteriza por su diversa geografía,
                        que abarca desde planicies litorales costeras hasta cuencas de esteros y ríos, y faldas de la
                        Cordillera de la Costa.</p>

                    <p>La creación de la comuna es un tema importante que abordaremos en este artículo. Pelluhue fue
                        oficialmente creada el 26 de octubre de 1979, cuando se separó de Chanco. Sin embargo, la
                        historia de la comuna tiene raíces más antiguas, ya que Pelluhue ya existía como caleta de
                        pescadores e incipiente balneario costero antes de la creación de la comuna.</p>
                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/pelluhue-3.jpg" width="500px" alt="Letras de Pelluhue">
                    </div>

                    <h2>Geografía y localidades de Pelluhue</h2>

                    <p>La geografía de la comuna es diversa, con asentamientos en planicies litorales costeras, cuencas
                        de esteros y ríos, y faldas de la Cordillera de la Costa. La comuna cuenta con varias
                        localidades pobladas, entre las que se destacan Curanipe, Pelluhue, Rehue, Los Vilos, El Toyo y
                        Quirihue.</p>

                    <p>Entre estas localidades, Curanipe es la más importante y la que alberga el asiento de la
                        municipalidad. Es un poblado costero con una tradición como puerto menor y balneario marítimo
                        desde mucho tiempo atrás. Pelluhue, por su parte, es una caleta de pescadores e incipiente
                        balneario costero que ya existía antes de la creación de la comuna.</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/pelluhue-1.jpg" width="500px" alt="Playa de pelluhue">
                    </div>

                    <h2>Creación de la comuna en 1979</h2>

                    <p>La creación de la comuna de Pelluhue se produjo el 26 de octubre de 1979, cuando se separó de
                        Chanco. Esta decisión fue resultado del creciente desarrollo y progreso que experimentaba la
                        zona, lo que llevó a los habitantes a demandar mayor autonomía y gestión local.</p>

                    <p>La creación de la comuna fue un proceso que involucró a las autoridades nacionales y locales,
                        quienes debatieron sobre el tema durante varios años. Finalmente, en 1979, se sancionó la ley
                        que establecía la creación de la comuna de Pelluhue, lo que permitió a los habitantes de la zona
                        tener mayor control sobre su propio desarrollo y gestión.</p>

                    <h2>Economía y actividades principales</h2>

                    <p>La economía de la comuna de Pelluhue se basa en faenas agrícolas, explotaciones forestales y
                        pesca artesanal. La agricultura es una actividad importante en la zona, destacándose la
                        producción de frutas y hortalizas, como tomates, pepinos, zanahorias y pimientos. También hay
                        cultivos de cereales y legumbres, aunque en menor escala.</p>

                    <p>La pesca artesanal es otra actividad económica relevante en la comuna, con una gran variedad de
                        especies marinas que se pueden encontrar en las costas y esteros de Pelluhue. Los pescadores
                        locales se dedican a la captura de peces, mejillones, almejas y otros productos del mar, lo que
                        contribuye significativamente a la economía local.</p>
                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/pelluhue-2.jpg" width="500px" alt="Pelluhue 1">
                    </div>

                    <h2>Historia y tradiciones de la región</h2>

                    <p>La comuna de Pelluhue tiene una rica historia que se remonta a la época precolombina, cuando las
                        culturas mapuches y chancas habitaban en el territorio. La llegada de los españoles en el siglo
                        XVI marcó un nuevo capítulo en la historia de la región, con la fundación de pueblos y la
                        implantación de la colonización.</p>

                    <p>En el siglo XIX, Pelluhue se convirtió en un importante centro pesquero y comercial, gracias a su
                        ubicación estratégica en la costa del Pacífico. La caleta de Curanipe, en particular, se destacó
                        como un puerto menor y balneario marítimo, atraiendo a personas de toda la región que buscaban
                        disfrutar de las playas y el clima agradable.</p>

                    <p>La creación de la comuna de Pelluhue en 1979 fue el resultado de una lucha política y social por
                        la autonomía local. La separación de Chanco permitió a los habitantes de la zona gestionar sus
                        propios asuntos y desarrollar su economía y cultura de manera más efectiva.</p>

                    <h2>La municipalidad y su función</h2>

                    <p>La municipalidad de Pelluhue es el órgano administrativo y político que representa a la comunidad
                        local, tiene como objetivo principal el bienestar y desarrollo de sus habitantes. La
                        municipalidad se encarga de proveer servicios públicos como agua potable, alcantarillado,
                        iluminación pública, entre otros, y también se ocupa de la gestión de los recursos naturales y
                        la planificación del crecimiento urbano.</p>

                    <p>Entre las funciones más importantes de la municipalidad se encuentran la planificación y
                        ejecución de proyectos de infraestructura, como carreteras, puentes, edificios públicos y
                        servicios básicos. Además, la municipalidad se encarga de la gestión de los recursos naturales,
                        como bosques, ríos y costas, y promueve la conservación del medio ambiente.</p>
                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/pelluhue.jpg" width="500px" alt="Pelluhue 2">
                    </div>
                    <h2>Noticias y eventos actuales</h2>

                    <p><strong>Noticias y eventos actuales</strong></p>

                    <p>La comuna de Pelluhue ha sido afectada recientemente por una serie de incendios forestales que
                        han obligado a evacuar a varias familias y han generado preocupación en la comunidad. Aunque se
                        han logrado controlar los fuegos, la situación sigue siendo delicada y las autoridades locales
                        están trabajando para evaluar el daño y planificar la reconstrucción.</p>

                    <p>En otro orden de cosas, la municipalidad ha lanzado un programa de mejoramiento de
                        infraestructura en el poblado de Curanipe, que incluye la renovación de calles y la instalación
                        de nuevos servicios públicos. Esta iniciativa tiene como objetivo mejorar la calidad de vida de
                        los residentes y atraer más turistas al área.</p>

                    <p>La comuna también ha sido escenario de una serie de eventos culturales y deportivos en los
                        últimos meses, incluyendo un festival de música y danza que atrajo a miles de personas y un
                        torneo de fútbol que reunió a equipos de todo el país. Estos eventos han generado un gran
                        interés y han contribuido a la economía local.</p>

                    <h2>Conclusión</h2>

                    <p>La comuna de Pelluhue se ha convertido en un destino turístico atractivo, gracias a su belleza
                        natural y riqueza cultural. La creciente demanda de servicios turísticos ha generado empleo y
                        oportunidades económicas para la población local. Sin embargo, es importante mencionar que la
                        comuna también enfrenta desafíos como la erosión costera, la contaminación del medio ambiente y
                        la falta de infraestructura en algunos sectores.</p>

                    <p>A pesar de estos desafíos, la municipalidad de Pelluhue ha trabajado arduamente para desarrollar
                        proyectos que beneficien a la comunidad. La creación de parques y espacios verdes, la
                        implementación de programas de educación ambiental y la promoción del turismo sostenible son
                        algunos ejemplos de este esfuerzo. Además, la comuna ha recibido apoyo financiero y técnico para
                        proyectos como la construcción de infraestructura y la mejora de servicios públicos.</p>

                    <p>La historia de Pelluhue es un ejemplo de cómo una comunidad puede crecer y desarrollarse a pesar
                        de los desafíos. La comuna ha logrado mantener su identidad cultural y natural, mientras que
                        también se ha adaptado a las necesidades del siglo XXI. Es importante seguir apoyando y
                        fomentando el desarrollo sostenible en Pelluhue, para que esta hermosa región pueda continuar
                        creciendo y prosperando en el futuro.</p>

                </div>
                <br><br><br>

            </div>
        </div>
    </section>

    {{> footer}}
    {{> player}}
</div>