{{> pageloader}}
<!-- Page-->
<div class="page">
    {{> header}}
    {{> navbar}}


    <!-- Image Centered-->
    <section class="section section-md bg-white">
        <div class="shell">
            <div class="range">
                <div class="cell-md-12 cell-lg-12">

                    <h1>Regimiento De Infantería Nro. 13 Cauquenes</h1>

                    <p>Según los antecedentes históricos que ha podido recopilar el Museo Histórico y Cultural de Cauquenes con el Museo Histórico Militar de Chile, el Ejército, se habría establecido en Cauquenes, a mediados del siglo XIX, como pequeño grupo militar junto a los denominados Batallones Cívicos, como fue el caso del Batallón Cívico Maule que reforzó la Guerra del Pacífico desde 1880 a 1884.</p>

                    <p>El ex Regimiento de Infantería N° 13 Andalién, fue creado por decreto supremo N° 981, firmado por el presidente Arturo Alessandri Palma con fecha 10 de diciembre de 1938, fijándose como guarnición la ciudad de Cauquenes y, nombrado como primer comandante, el teniente coronel don Juan Nepomuceno Bravo.</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/cuartel-regimiento-cauquenes.jpg" width="300px"
                            alt="Regimiento de infantería Cauquenes">
                    </div>

                    <hr />

                    <p>En el año 1944, se dispuso que la Unidad militar se trasladara hasta Cauquenes para hacerse cargo del Cuartel en construcción, al mando del Capitán don Guillermo Encina de la Torre.</p>

                    <p>Posteriormente, el 18 de enero de 1945, obtiene la denominación de Regimiento de Infanteria de Montaña N° 13 "Andalién" del General don Basilio Urrutia Vásquez.</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/cuartel-regimiento-cauquenes1.jpg" width="300px"
                            alt="Regimiento de infantería Cauquenes 1">
                    </div>
                    <hr />

                    <p>Por decreto supremo N° 16 del 8 de abril de 1969, se crea la Comandancia de Guarnición de Cauquenes que posteriormente en 1972, comenzó a funcionar como Centro de Instrucción básico. </p>

                    <p>Con fecha 20 de diciembre 1999, se realizó una ceremonia del cierre definitivo del regimiento siendo su último comandante don Roberto Lazo Pozzi. </p>

                    <p>El recordado cuartel quedó abandonado, ocupado temporalmente el año 2010 por el Liceo Antonio Varas de Cauquenes, debido a los daños que sufrió el edificio estudiantil producto del terremoto que azotó ese año a Cauquenes. El año 2022, el antiguo regimiento, fue demolido donde actualmente se construye el moderno e imponente nuevo Hospital de Cauquenes.</p>

                    </div>
                </div>
                <br><br><br>
            </div>
        </div>
    </section>

    {{> footer}}
    {{> player}}
</div>