{{> pageloader}}
<!-- Page-->
<div class="page">

    <div class="shell text-center">
        <br>
        <div class="range range-50 range-sm-center">
            <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
                <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
            </div>
            <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
                <h2 style="font-size: 4em;">Radio Tutuven Cauquenes</h2>
                <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
                    Sintoniza nuestra
                    programación variada y entretenida para disfrutar de la mejor música y
                    contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
            </div>
        </div>
    </div>
    {{> navbar}}


    <!-- Image Centered-->
    <section class="section section-md bg-white">
        <div class="shell">
            <div class="range">
                <div class="cell-md-12 cell-lg-12">

                    <h1>Biografía de Sotero Del Rio Gundian</h1>

                    <p>Sótero del Río Gundián, fue un médico cirujano, académico, investigador, empresario, dirigente gremial y político chileno. Se desempeñó como ministro de Estado durante los gobiernos de los presidentes radicales Juan Esteban Montero, Juan Antonio Ríos, Gabriel González Videla y del independiente Jorge Alessandri.</p>

                    <p>Nació en Cauquenes el 29 de marzo de 1900, siendo el tercero de los cuatro hijos del matrimonio conformado por Rafael del Río del Pozo y Avelina Gundián del Río. Realizó sus estudios primarios y secundarios en el Liceo de Hombres de Cauquenes (actual Liceo Antonio Varas), para luego cursar los estudios superiores en la carrera de medicina en la Universidad de Chile, corporación de la que se tituló como médico cirujano en 1922, con la tesis titulada Diatermia. Trabajó en el Hospital del Salvador de Santiago, mismo lugar donde había hecho su internado. En 1924 viajó a Europa a estudiar, estando puntualmente en Francia, Austria y Alemania.</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/sotero-del-rio.jpg" width="300px"
                            alt="Sotero Del Rio Gundian">
                    </div>

                    <hr />

                    <p>De vuelta en su país, enfermó de tuberculosis pulmonar, por lo que se internó en un sanatorio en Suiza, en 1927, donde fue enfermo, pero también médico. Regresó por segunda vez a Chile para trabajar en el Hospital San José de la capital, especializándose en tisiología.</p>

                    <p>Contrajo matrimonio con Louise Schäffer, con quien tuvo una hija. Durante la presidencia de Jorge Alessandri, este era soltero, por lo que Schäffer asumió las labores propias equivalentes a la primera dama desde 1959 hasta 1964, mientras su cónyuge era ministro del Interior.</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/sotero-del-rio1.jpg" width="300px"
                            alt="Sotero Del Rio Gundian 1">
                    </div>
                    <hr />

                    <p>Se dedicó a ejercer su profesión como médico del sanatorio El Peral y del Hospital Barros Luco Trudeau de Santiago.
                    </p>
                    <p>Falleció en Houston, 10 de mayo de 1969</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/sotero-del-rio2.jpg" width="300px"
                            alt="Sotero Del Rio Gundian 2">
                    </div>
                    <hr />

                    <p>Por otro lado, actuó como profesor de medicina social en la Universidad de Chile, en su memoria el hospital de puente alto y una calle de cauquenes lleva su nombre.</p>

                    <div class="text-center mt-5">
                        <img class="mb-5" src="/images/historias/sotero-del-rio3.jpg" width="300px"
                            alt="Sotero Del Rio Gundian 3">
                    </div>
                </div>
                <br><br><br>
            </div>
        </div>
    </section>

    {{> footer}}
    {{> player}}
</div>