{{> pageloader}}

<!-- Page-->
<div class="page">

    <div class="shell text-center">
        <br>
        <div class="range range-50 range-sm-center">
            <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
                <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
            </div>
            <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
                <h2 style="font-size: 4em;">Radio Tutuven Cauquenes</h2>
                <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
                    Sintoniza nuestra
                    programación variada y entretenida para disfrutar de la mejor música y
                    contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
            </div>
        </div>
    </div>
    {{> navbar}}


    <!-- Image Centered-->
    <section class="section section-md bg-white">
        <div class="shell">
            <h1 class="text-center">Tranque Tutuven de Cauquenes</h1>
            <div class="range">
                <div class="cell-md-10 cell-lg-6">
                    <figure class="figure-light"><img class="img-centered" src="images/historias/tranque_tutuven.jpg"
                            alt="" width="770" height="485" />
                        <figcaption>
                            <p>Tranque Tutuven vista panorámica</p>
                        </figcaption>
                    </figure>
                    <p>Este embalse, con su apariencia de espejo de agua, se encuentra ubicado a 9 km al oeste de la
                        ciudad, en dirección a la costa. Rodeado por una exuberante arboleda local, ofrece una excelente
                        alternativa para realizar actividades como pesca deportiva, disfrutar de un día de picnic o
                        acampar en familia. Sumérgete en la serenidad de este entorno natural y aprovecha al máximo tus
                        momentos al aire libre en este hermoso lugar.</p>
                </div>

                <div class="cell-md-10 cell-lg-6 mt-5">
                    <figure class="figure-light">
                        <p><img src="images/historias/tranque_tutuven1.jpg" alt="" width="770" height="485" />El Embalse
                            Tutuven, una impresionante obra hidráulica de almacenamiento con capacidad para 13 hm³ de
                            agua, está estratégicamente ubicado cerca de la ciudad de Cauquenes, en la hermosa Región
                            del Maule, Chile. Esta importante infraestructura cumple la función de abastecer de agua
                            para uso agrícola, destacando como un recurso vital para la zona. Disfruta de la belleza y
                            la importancia funcional de este embalse mientras exploras sus alrededores y aprendes sobre
                            su relevancia para la agricultura local.
                        </p>
                    </figure>
                </div>

                <div class="shell mt-5">
                    <div class="range">

                        <div class="cell-md-10 cell-lg-6">
                            <figure class="figure-light"><img class="img-centered"
                                    src="images/historias/tranque_tutuven2.jpg" alt="" width="770" height="485" />
                                <figcaption>
                                    <p>Tranque Tutuven</p>
                                </figcaption>
                            </figure>
                            <p>Ubicada a unos 10 km al noroeste de la ciudad de Cauquenes, el Embalse Tutuven es una
                                pieza clave en la infraestructura hídrica de la región. Con un área de regadío que
                                abarca 2161 ha nuevas y 340 ha mejoradas, este embalse proporciona un recurso vital para
                                la agricultura local. Su estratégica ubicación y su capacidad de almacenamiento de agua
                                lo convierten en un elemento fundamental para el desarrollo agrícola y el sustento de la
                                comunidad en esta área.</p>
                        </div>

                        <div class="cell-md-10 cell-lg-6 mt-5">
                            <figure class="figure-light">

                                <p><img class="img-right" src="images/historias/tranque_tutuven3.jpg" alt="" width="770"
                                        height="485" />El embalse Tutuven se caracteriza por ser una presa de tierra
                                    compuesta por dos muros que cierran el valle principal y el portezuelo lateral,
                                    respectivamente. El primer muro alcanza una altura máxima de 32 m y tiene una
                                    longitud cercana a los 190 m, mientras que el muro secundario tiene una altura
                                    máxima de 16 m. Con un nivel normal de 170,80 m s. n. m. y una cota máxima de 171,50
                                    m s. n. m., este embalse despliega su capacidad de almacenamiento.
                                    <br><br>
                                    Según un informe de la Comisión Nacional de Riego, su capacidad total se estima en
                                    20 hm³, aunque solamente 16 hm³ son utilizables. Sin embargo, otras fuentes, como
                                    Demanet Filipi, la cifran en 13 hm³. Esta infraestructura representa una importante
                                    reserva de agua que contribuye al desarrollo agrícola y al abastecimiento de la
                                    región.
                                </p>
                            </figure>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>




    {{> footer}}
    {{> player}}
</div>