<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  {{!-- <meta name="keywords" --}}
    {{!-- content="radio chanco, radio online,  estación radio chanco, radio chanquina fm 104.1, radio maule chanquina, provincia cauquenes chanco, chanco pelluhue curanipe" /> --}}
  <meta name="author" content="Hector Brito" />
  {{!-- <meta name="description" --}}
    {{!-- content="Radio Chanquina 104.1 F.M. transmite las más diversas melodías las 24 horas del día en la 7ma región del Maule, Chanco." /> --}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{!-- <meta name="google-adsense-account" content="ca-pub-3299894539657744" /> --}}
  {{!-- <meta name="seobility" content="2bf2b714720ffb3ccfdf62849594adef" /> --}}
  <!-- Favicon-->
  {{!-- <link rel="icon" type="image/x-icon" href="https://www.chanquinafm.cl/img/favicon.ico" /> --}}
  <!-- AdSense Google-->
  <script async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3299894539657744"></script>

  <title>Radio Tutuvén de Cauquenes para el mundo</title>
  {{> bootstrap}}


</head>

<body id="section">
  {{{ body }}}



  {{> footer}}
  <br>
  <br>
  <br>
  {{> bootstrap_bundle}}


</body>

</html>