<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />

  <meta name="keywords"
    content="radio tutuven, online, en vivo, cauquenes, chanquina, super estacion, cauquenino, " />
 
  <meta name="author" content="Hector Brito" />
  <meta name="description"
    content="Radio Tutuven es una emisora online cuyo único propósito es promover la imagen de Cauquenes en todo el mundo" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-adsense-account" content="ca-pub-3299894539657744">

  {{!-- <meta name="seobility" content="2bf2b714720ffb3ccfdf62849594adef" /> --}}

  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
  <!-- AdSense Google-->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3299894539657744"
    crossorigin="anonymous"></script>

  <title>Radio Tutuvén online de Cauquenes para el mundo</title>
  {{> bootstrap}}
  {{> google_tag}}

</head>

<body>

  {{{ body }}}



  <br>
  <br>
  <br>
  {{> bootstrap_bundle}}


  <script src="/js/reloj.js"></script>
</body>

</html>