<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />

  <meta name="keywords" content="radio tutuven, online, en vivo, cauquenes, chanquina, super estacion, cauquenino, " />

  <meta name="author" content="Hector Brito" />
  <meta name="description"
    content="Radio Tutuven es una emisora online cuyo único propósito es promover la imagen de Cauquenes en todo el mundo" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-adsense-account" content="ca-pub-3299894539657744">

  <link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/css?family=Lato:300,400,700,400italic%7CJosefin+Sans:400,700,300italic">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">

  {{!--
  <meta name="seobility" content="2bf2b714720ffb3ccfdf62849594adef" /> --}}

  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
  <!-- AdSense Google-->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3299894539657744"
    crossorigin="anonymous"></script>

  <title>Radio Tutuven online de Cauquenes para el mundo</title>


</head>

<body id="background">

  {{{ body }}}



  {{> bootstrap_bundle}}

    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>