<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
  <!-- jquery -->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <title>Panel</title>

</head>

<body>
    {{{body}}}
  
    {{>errors}}
    {{>messages}}
  

</body>

</html>