<div class="page">

    <!-- My Best Photos-->
    <section class="section bg-gray-lighter text-center">
        <div class="shell">
            <br>
            <div class="range range-50 range-sm-center">
                <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
                    <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
                </div>
                <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
                    <h1 style="font-size: 4em;">Radio Tutuven Cauquenes</h1>
                    <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
                        Sintoniza nuestra
                        programación variada y entretenida para disfrutar de la mejor música y
                        contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
                </div>
            </div>
        </div>
        {{> navbar}}

    </section>
    <!-- Awards-->
    <section class="section section-sm parallax-container bg-image-dark" data-parallax-img="images/awards/fondo.jpg">
        <div class="parallax-content">
            <div class="section-md text-center">
                <div class="shell">
                    {{!-- <div class="range range-50 range-lg-bottom">
                        <div class="cell-xs-6 cell-md-3 wow fadeIn">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/27f_terremoto_chile_chica.jpg" alt="27F Terremoto Chile"
                                    width="134" height="98" />
                                <h3 class="box-award__title">Terremoto 27F</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2010">2010</time>
                            </article>
                        </div>
                        <div class="cell-xs-6 cell-md-3 wow fadeIn" data-wow-delay=".1s">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/cauquenes_fundacion_chica.jpg" alt="Cauquenes fundación"
                                    width="115" height="117" />
                                <h3 class="box-award__title">Fundación de Cauquenes</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2014">1742</time>
                            </article>
                        </div>
                        <div class="cell-xs-6 cell-md-3 wow fadeIn" data-wow-delay=".2s">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/chanco_fundacion_chica.jpg" alt="Chanco fundación" width="116"
                                    height="103" />
                                <h3 class="box-award__title">Fundación de Chanco</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2015">1849</time>
                            </article>
                        </div>
                        <div class="cell-xs-6 cell-md-3 wow fadeIn" data-wow-delay=".3s">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/pelluhue_fundacion_chica.jpg" alt="Pelluhue fundación"
                                    width="131" height="96" />
                                <h3 class="box-award__title">Fundación de Pelluhue</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2016">1979</time>
                            </article>
                        </div>
                    </div> --}}
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </section>

    <!-- My Best Photos-->
    <section class="section bg-white text-center">
        <!-- Slick Carousel-->
        <div class="slick-wrap">
            <div class="slick-slider slick-style-1" data-arrows="true" data-autoplay="true" data-loop="true"
                data-dots="true" data-swipe="true" data-xs-swipe="true" data-sm-swipe="false" data-items="1"
                data-sm-items="3" data-md-items="3" data-lg-items="3" data-center-mode="true"
                data-lightgallery="group-slick">
                <div class="item">
                    <div class="slick-slide-inner">
                        <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                                href="images/carousel/Tranque_Tutuven.jpg" data-lightgallery="item"><img
                                    class="thumb-ann__image" src="images/carousel/Tranque_Tutuven.jpg" alt=""
                                    width="961" height="664" />
                                <div class="thumb-ann__caption">
                                    <p class="thumb-ann__title heading-3">Tranque Tutuven de Cauquenes</p>
                                    <p class="thumb-ann__text text-light">El Embalse Tutuven es una obra hidráulica de
                                        almacenamiento para 13 hm³ de agua con fines de uso agrícola ubicada cerca de la
                                        ciudad de Cauquenes, en la Región del Maule, Chile. </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slick-slide-inner">
                        <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                                href="images/carousel/Interior_Parroquia_San_Alfonso.jpg" data-lightgallery="item"><img
                                    class="thumb-ann__image" src="images/carousel/Interior_Parroquia_San_Alfonso.jpg"
                                    alt="" width="961" height="664" />
                                <div class="thumb-ann__caption">
                                    <p class="thumb-ann__title heading-3">Interior Parroquia San Alfonso Cauquenes</p>
                                    <p class="thumb-ann__text text-light">Iglesia de estilo Neo-gótico construida durante el 1900
                                        en la ciudad de Cauquenes, sobrevivió los terremotos de 1925, 1939, 1985 y 2010,
                                        siendo uno de los patrimonios Arquitectónicos mas importantes de la ciudad, en
                                        su interior altares y esculturas traídas desde Bélgica.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slick-slide-inner">
                        <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                                href="images/carousel/Liceo_Claudina_Urrutia.jpg" data-lightgallery="item"><img
                                    class="thumb-ann__image" src="images/carousel/Liceo_Claudina_Urrutia.jpg" alt=""
                                    width="961" height="664" />
                                <div class="thumb-ann__caption">
                                    <p class="thumb-ann__title heading-3">Liceo Claudina Urrutia de Lavin de Cauquenes
                                    </p>
                                    <p class="thumb-ann__text text-light">El Liceo Claudina Urrutia de Lavín fue fundado el 6 de
                                        junio de 1900, en ese entonces como Liceo de Niñas de Cauquenes, siendo uno de
                                        los más importantes de la comuna dado sus más de cien años de historia.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slick-slide-inner">
                        <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                                href="images/carousel/Viaducto_Chovollen.jpg" data-lightgallery="item"><img
                                    class="thumb-ann__image" src="images/carousel/Viaducto_Chovollen.jpg" alt=""
                                    width="961" height="664" />
                                <div class="thumb-ann__caption">
                                    <p class="thumb-ann__title heading-3">Viadutco Chollevén, provincia de Cauquenes</p>
                                    <p class="thumb-ann__text text-light">Ubicado en Quilicura a 13 kilómetros al sur de Curanipe,
                                        siguiendo la ruta costera entre el sector del cruce Chovellén y el sector de
                                        Tregualemu, se encuentra el Viaducto, mirador natural en el que podrán
                                        contemplar un hermoso paisaje y disfrutar de su entorno.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slick-slide-inner">
                        <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                                href="images/carousel/Kiosko_Plaza_Cauquenes.jpg" data-lightgallery="item"><img
                                    class="thumb-ann__image" src="images/carousel/Kiosko_Plaza_Cauquenes.jpg" alt=""
                                    width="961" height="664" />
                                <div class="thumb-ann__caption">
                                    <p class="thumb-ann__title heading-3">Kiosko Plaza de Cauquenes</p>
                                    <p class="thumb-ann__text text-light">Muchos dirían que es el corazón de la ciudad, este lugar
                                        ve pasar a sus ciudadanos con más frecuencia. Una foto en el característico
                                        kiosko, será una postal que no te debes perder, lugar que suele albergar eventos
                                        y que además sirve de escenario, está rodeado por árboles que llevan años
                                        existiendo.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{!-- portafolio --}}
    <section class="section section-md bg-white text-center">
        <div class="shell-fluid">
            <p class="heading-1">Fotos de Cauquenes</p>
            <div class="isotope thumb-ruby-wrap wow fadeIn" data-isotope-layout="masonry" data-isotope-group="gallery"
                data-lightgallery="group">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md"
                            href="images/portafolio/el_chuico_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/el_chuico.jpg"
                                alt="El chuico Cauquenes" width="440" height="327" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">El Chuico de Cauquenes</p>
                                <p class="thumb-ruby__text text-light">Escenario del Festival del Chuico que se realiza en
                                    Cauquenes durante el mes de Febrero.
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-3 thumb-mixed_md"
                            href="images/portafolio/iglesia_san_alfonso_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/iglesia_san_alfonso.jpg"
                                alt="Iglesia San Alfonso Cauquenes" width="444" height="683" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">Iglesia San Alfonso de Cauquenes</p>
                                <p class="thumb-ruby__text text-light">En 1951 la iglesia es nombrada Parroquia y pasa a depender
                                    del Obispado de Linares, administrando las capillas de la ciudad, las misas del
                                    hospital local y las capillas del sector rural.
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md"
                            href="images/portafolio/iglesia_san_pedro_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/iglesia_san_pedro.jpg"
                                alt="Igeslai San Pedro Cauquenes" width="440" height="327" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">Iglesia San Pedro de Cauquenes</p>
                                <p class="thumb-ruby__text text-light">Es en esta parroquia que se realizan actividades
                                    civiles eclesiásticas como Tedeum, Misas Oficiales, Festividades Patrias y
                                    Aniversario de la ciudad.
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-3 thumb-mixed_md"
                            href="images/portafolio/parroquia_san_francisco_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/parroquia_san_francisco.jpg"
                                alt="Parroquia San Francisco Cauquenes" width="444" height="683" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">Parroquia San Francisco de Cauquenes</p>
                                <p class="thumb-ruby__text text-light">La Iglesia de San Francisco es reconocida por su particular
                                    estilo clásico y la abundante presencia de obras de arte.
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md"
                            href="images/portafolio/liceo_antonio_varas_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/liceo_antonio_varas.jpg"
                                alt="Liceo Antonio Varas de la Barra Cauquenes" width="440" height="327" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">Liceo Antonio Varas de la Barra de Cauquenes</p>
                                <p class="thumb-ruby__text text-light">En el año 1837 funciona el Liceo Antonio de la Barra, hoy es
                                    el quinto más antiguo del país
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md"
                            href="images/portafolio/teatro_municipal_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/teatro_municipal.jpg"
                                alt="Teatro Municipal Cauquenes" width="440" height="327" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">Teatro Municipal de Cauquenes</p>
                                <p class="thumb-ruby__text text-light">Éste fue dañado durante el
                                    terremoto de 1939 y demolido años después. Es de estilo Art-deco y contaba con los
                                    llamados palcos cueva.
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}
    {{>player}}

</div>