{{> pageloader}}

<!-- Page-->
<div class="page">

    <!-- My Best Photos-->
    <section class="section section-sm bg-gray-lighter text-center">
        <div class="shell">
            <div class="range range-50 range-sm-center">
                <div class="cell-md-10 cell-lg-9">
                    <h1>Radio Tutuven Cauquenes</h1>
                    <p>¡Bienvenido a la emisora online líder en Cauquenes, región del Maule! Sintoniza nuestra
                        programación variada y entretenida para disfrutar de la mejor música y
                        contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
                </div>
            </div>
        </div>

        <!-- Owl Carousel-->
        <div class="owl-carousel-wrap owl-carousel_style-2">
            {{> navbar}}
            <div class="owl-carousel" data-items="1" data-autoplay="true" data-lg-items="3" data-dots="false"
                data-nav="true" data-stage-padding="0" data-xs-stage-padding="90" data-sm-stage-padding="140"
                data-md-stage-padding="260" data-lg-stage-padding="1" data-loop="true" data-margin="0"
                data-mouse-drag="false" data-nav-custom="#owl-carousel-nav" data-center-mode="true" data-speed="500"
                data-lightgallery="group">
                <a class="thumb-ruby thumb-mixed_large" href="images/owl-carousel/tranque_tutuven_cauquenes_grande.png"
                    data-lightgallery="item"><img class="thumb-ruby__image"
                        src="images/owl-carousel/tranque_tutuven_cauquenes.png" alt="Tranque Tutuven Cauquenes"
                        width="649" height="427" />
                    <div class="thumb-ruby__caption">
                        <h2 class="text-light thumb-ruby__title heading-3">
                            Tranque Tutuven Cauquenes
                        </h2>
                        <p class="thumb-ruby__text">El tranque Tutuven aprovecha las aguas del río Tutuvén y del estero
                            Tobalguén. El caudal de los afluentes se estima en 2 m³/s</p>
                    </div>
                </a><a class="thumb-ruby thumb-mixed_large"
                    href="images/owl-carousel/compuerta_tranque_tutuven_cauquenes_grande.jpg"
                    data-lightgallery="item"><img class="thumb-ruby__image"
                        src="images/owl-carousel/compuerta_tranque_tutuven_cauquenes.jpg"
                        alt="Compuerta Tranque Tutuven Cauquenes" width="649" height="427" />
                    <div class="thumb-ruby__caption">
                        <h2 class="text-light thumb-ruby__title heading-3">
                            Compuerta Tranque Tutuven Cauquenes
                        </h2>
                        <p class="thumb-ruby__text">Se encuentra a sólo 9 kilómetros camino a Chanco Es un lugar muy
                            atractivo en verano para ir de picnic o a practicar pesca de orilla.</p>
                    </div>
                </a><a class="thumb-ruby thumb-mixed_large"
                    href="images/owl-carousel/embalse_tutuven_cauquenes_grande.jpg" data-lightgallery="item"><img
                        class="thumb-ruby__image" src="images/owl-carousel/embalse_tutuven_cauquenes.jpg"
                        alt=" Embalse Tutuven Cauquenes" width="649" height="427" />
                    <div class="thumb-ruby__caption">
                        <h2 class="text-light thumb-ruby__title heading-3">
                            Embalse Tutuven Cauquenes
                        </h2>
                        <p class="thumb-ruby__text">El Embalse Tutuven es una obra hidráulica de almacenamiento para 13
                            hm³ de agua con fines de uso agrícola ubicada cerca de la ciudad de Cauquenes, en la Región
                            del Maule, Chile. </p>
                    </div>
                </a>
            </div>
            <div class="owl-outer-navigation" id="owl-carousel-nav">
                <button class="owl-arrow owl-arrow-prev">
                    <svg x="0px" y="0px" viewbox="0 0 28.5 16" width="26" height="14">
                        <line x1="27.5" y1="8" x2="1" y2="8" fill="none" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" stroke-miterlimit="10"></line>
                        <polyline fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            stroke-miterlimit="10" points="8.8,15 1,8 8.8,1"></polyline>
                    </svg>
                </button>
                <button class="owl-arrow owl-arrow-next">
                    <svg x="0px" y="0px" viewbox="0 0 28.5 16" width="26" height="14">
                        <line fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            stroke-miterlimit="10" x1="1" y1="8" x2="27.5" y2="8"></line>
                        <polyline fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            stroke-miterlimit="10" points="19.7,15 27.5,8 19.7,1"></polyline>
                    </svg>
                </button>
            </div>
        </div>
    </section>

    <!-- Awards-->
    <section class="section parallax-container bg-image-dark" data-parallax-img="images/awards/fondo.jpg">
        <div class="parallax-content">
            <div class="section-md text-center">
                <div class="shell">
                    {{!-- <div class="range range-50 range-lg-bottom">
                        <div class="cell-xs-6 cell-md-3 wow fadeIn">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/27f_terremoto_chile_chica.jpg" alt="27F Terremoto Chile"
                                    width="134" height="98" />
                                <h3 class="box-award__title">Terremoto 27F</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2010">2010</time>
                            </article>
                        </div>
                        <div class="cell-xs-6 cell-md-3 wow fadeIn" data-wow-delay=".1s">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/cauquenes_fundacion_chica.jpg" alt="Cauquenes fundación"
                                    width="115" height="117" />
                                <h3 class="box-award__title">Fundación de Cauquenes</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2014">1742</time>
                            </article>
                        </div>
                        <div class="cell-xs-6 cell-md-3 wow fadeIn" data-wow-delay=".2s">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/chanco_fundacion_chica.jpg" alt="Chanco fundación" width="116"
                                    height="103" />
                                <h3 class="box-award__title">Fundación de Chanco</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2015">1849</time>
                            </article>
                        </div>
                        <div class="cell-xs-6 cell-md-3 wow fadeIn" data-wow-delay=".3s">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/pelluhue_fundacion_chica.jpg" alt="Pelluhue fundación"
                                    width="131" height="96" />
                                <h3 class="box-award__title">Fundación de Pelluhue</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2016">1979</time>
                            </article>
                        </div>
                    </div> --}}
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </section>

    {{!-- portafolio
    <section class="section section-md bg-white text-center">
        <div class="shell-fluid">
            <p class="heading-1">Portfolio</p>
            <div class="isotope thumb-ruby-wrap wow fadeIn" data-isotope-layout="masonry" data-isotope-group="gallery"
                data-lightgallery="group">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md"
                            href="images/portafolio/el_chuico_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/el_chuico.jpg"
                                alt="El chuico Cauquenes" width="440" height="327" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">El Chuico de Cauquenes</p>
                                <p class="thumb-ruby__text">Escenario del Festival del Chuico que se realiza en
                                    Cauquenes durante el mes de Febrero.
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-3 thumb-mixed_md"
                            href="images/portafolio/iglesia_san_alfonso_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/iglesia_san_alfonso.jpg"
                                alt="Iglesia San Alfonso Cauquenes" width="444" height="683" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">Iglesia San Alfonso de Cauquenes</p>
                                <p class="thumb-ruby__text">En 1951 la iglesia es nombrada Parroquia y pasa a depender
                                    del Obispado de Linares, administrando las capillas de la ciudad, las misas del
                                    hospital local y las capillas del sector rural.
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md"
                            href="images/portafolio/iglesia_san_pedro_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/iglesia_san_pedro.jpg"
                                alt="Igeslai San Pedro Cauquenes" width="440" height="327" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">Iglesia San Pedro de Cauquenes</p>
                                <p class="thumb-ruby__text">Es en esta parroquia que se realizan actividades
                                    civiles eclesiásticas como Tedeum, Misas Oficiales, Festividades Patrias y
                                    Aniversario de la ciudad.
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-3 thumb-mixed_md"
                            href="images/portafolio/parroquia_san_francisco_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/parroquia_san_francisco.jpg"
                                alt="Parroquia San Francisco Cauquenes" width="444" height="683" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">Parroquia San Francisco de Cauquenes</p>
                                <p class="thumb-ruby__text">La Iglesia de San Francisco es reconocida por su particular
                                    estilo clásico y la abundante presencia de obras de arte.
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md"
                            href="images/portafolio/liceo_antonio_varas_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/liceo_antonio_varas.jpg"
                                alt="Liceo Antonio Varas de la Barra Cauquenes" width="440" height="327" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">Liceo Antonio Varas de la Barra de Cauquenes</p>
                                <p class="thumb-ruby__text">En el año 1837 funciona el Liceo Antonio de la Barra, hoy es
                                    el quinto más antiguo del país
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item"><a
                            class="thumb-ruby thumb-mixed_height-2 thumb-mixed_md"
                            href="images/portafolio/teatro_municipal_grande.jpg" data-lightgallery="item"><img
                                class="thumb-ruby__image" src="images/portafolio/teatro_municipal.jpg"
                                alt="Teatro Municipal Cauquenes" width="440" height="327" />
                            <div class="thumb-ruby__caption">
                                <p class="thumb-ruby__title heading-3">Teatro Municipal de Cauquenes</p>
                                <p class="thumb-ruby__text">Éste fue dañado durante el
                                    terremoto de 1939 y demolido años después. Es de estilo Art-deco y contaba con los
                                    llamados palcos cueva.
                                    <!-- Portfolio-->
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> --}}


    {{!-- <!-- Blog-->
    <section class="section section-md bg-gray-lighter text-center">
        <div class="shell">
            <p class="heading-1">Blog</p>
            <div class="range range-30">
                <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall">
                    <!-- Post boxed-->
                    <article class="post-boxed">
                        <ul class="post-boxed__meta">
                            <li>
                                <time datetime="2019">Jul 20, 2019</time>
                            </li>
                            <li><a href="#">3 comments</a></li>
                        </ul>
                        <div class="post-boxed__main">
                            <h3 class="post-boxed__title"><a href="#">Becoming a King and Queen for a Day</a></h3>
                            <p>For one day, the two of you are the focus of attention. The concerns of the world slip...
                            </p>
                        </div>
                        <div class="post-boxed__aside">
                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                <div class="unit__left"><img class="post-boxed__avatar" src="images/user-6-46x46.jpg"
                                        alt="user" width="46" height="46" />
                                </div>
                                <div class="unit__body">
                                    <h6 class="text-uppercase">by Susan Parker</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall" data-wow-delay=".15s">
                    <!-- Post boxed-->
                    <article class="post-boxed">
                        <ul class="post-boxed__meta">
                            <li>
                                <time datetime="2019">Jul 15, 2019</time>
                            </li>
                            <li><a href="#">3 comments</a></li>
                        </ul>
                        <div class="post-boxed__main">
                            <h3 class="post-boxed__title"><a href="#">How to Make Great Wedding Photos</a></h3>
                            <p>Today I’m going to answer the question that my clients ask almost after every photo
                                shoot. It’s a question...</p>
                        </div>
                        <div class="post-boxed__aside">
                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                <div class="unit__left"><img class="post-boxed__avatar" src="images/user-6-46x46.jpg"
                                        alt="user1" width="46" height="46" />
                                </div>
                                <div class="unit__body">
                                    <h6 class="text-uppercase">by Susan Parker</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall" data-wow-delay=".3s">
                    <!-- Post boxed-->
                    <article class="post-boxed">
                        <ul class="post-boxed__meta">
                            <li>
                                <time datetime="2019">Jul 5, 2019</time>
                            </li>
                            <li><a href="#">3 comments</a></li>
                        </ul>
                        <div class="post-boxed__main">
                            <h3 class="post-boxed__title"><a href="#">5 Most Exotic Weddings</a></h3>
                            <p>Do you want to know where your wedding will be the most unforgettable? Read this post and
                                you’ll find...</p>
                        </div>
                        <div class="post-boxed__aside">
                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                <div class="unit__left"><img class="post-boxed__avatar" src="images/user-6-46x46.jpg"
                                        alt="user2" width="46" height="46" />
                                </div>
                                <div class="unit__body">
                                    <h6 class="text-uppercase">by Susan Parker</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section> --}}

    <!-- Book Your Photo Shoot-->
    <section class="section section-md bg-white">
        <div class="shell">
            <div class="range range-50 range-sm-center range-md-left range-md-reverse range-md-middle">
                <div class="cell-sm-10 cell-md-6 wow fadeInRight">
                    <div class="box-width-4 box-centered">
                        <p class="heading-1">Conéctate con <br> Nosotros</p>
                        <p>¿Tienes algo que decir? ¡Nos encantaría escucharte! Si deseas dejar un mensaje de
                            agradecimiento, sugerencia o simplemente quieres ponerte en contacto con nosotros, completa
                            el formulario a continuación. Nuestro equipo revisará tu mensaje y te responderá lo antes
                            posible. ¡Gracias por tu interés y confianza en nosotros!"</p>
                    </div>
                </div>
                <div class="cell-sm-10 cell-md-6 wow fadeInLeft">
                    <article class="box-line"><span></span><span></span><span></span><span></span>
                        <div class="box-line__main">
                            {{!-- mensaje --}}
                            {{#if success_msg}}
                            <div class="alert alert-success" role="alert">
                                {{success_msg}}
                            </div>
                            {{/if}}
                            {{#if error_msg}}
                            <div class="alert alert-danger" role="alert">
                                {{error_msg}}
                            </div>
                            {{/if}}
                            {{!-- fin mensaje --}}

                            <!-- RD Mailform-->
                            <form method="post" action="/send-email">
                                {{!-- <div class="form-wrap">
                                    <input class="form-input" id="contact-date" type="text" data-time-picker="date"
                                        name="date" data-constraints="@Required">
                                    <label class="form-label" for="contact-date">Event Date</label>
                                </div> --}}
                                <div class="form-wrap">
                                    <input class="form-input" id="contact_name" type="text" name="name"
                                        data-constraints="@Required">
                                    <label class="form-label" for="contact_name">Tu nombre</label>
                                </div>
                                <div class="form-wrap">
                                    <input class="form-input" id="contact_email" type="email" name="email"
                                        data-constraints="@Email @Required">
                                    <label class="form-label" for="contact_email">Correo</label>
                                </div>
                                <div class="form-wrap">
                                    <label class="form-label" for="contact_message">Tu mensaje</label>
                                    <textarea class="form-input" id="contact_message" name="message"
                                        data-constraints="@Required"></textarea>
                                </div>
                                 <!--Google captcha-->
                                <div class="form-wrap">
                                    <div id="token" class="g-recaptcha" data-sitekey="6LfraZUpAAAAAMDH8BZYuqrjpTZSDbX_AKJ5Wu_h"
                                        data-action="BTNCONTACTO" name="g-recaptcha-response"></div>
                                </div>
                                <!-- End google captcha-->
                                <div class="form-wrap form-button offset-1">
                                    <button class="button button-block button-primary-outline button-ujarak"
                                        type="submit">Escríbenos</button>
                                </div>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    {{> footer}}


</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>



{{> player}}
<!-- Agrega el script de la biblioteca de reCAPTCHA -->
<script async src="https://www.google.com/recaptcha/enterprise.js"></script>