{{> pageloader}}
<script src="/socket.io/socket.io.js"></script>

<!-- Page-->
<div class="page">

    <!-- My Best Photos-->
    <section class="section bg-gray-lighter text-center">
        <div class="shell">
            <br>
            <div class="range range-50 range-sm-center">
                <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
                    <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
                </div>
                <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
                    <h1 style="font-size: 4em;">Radio Tutuven Cauquenes</h1>
<div class="inline-flex items-center justify-center px-4 py-2 bg-[#00bd9d] bg-opacity-20 rounded-full text-sm font-semibold text-[#00bd9d] tracking-wide shadow-sm transition-transform duration-300 hover:scale-105" style="display: inline-flex; gap: 0.5em;">
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#00bd9d" viewBox="0 0 24 24">
    <path d="M12 5c-7.633 0-11 6.877-11 7s3.367 7 11 7 11-6.877 11-7-3.367-7-11-7zm0 12c-3.771 0-6.456-2.711-7.813-5 .796-1.328 2.117-2.824 3.813-3.783 1.103-.63 2.336-.955 4-.955s2.897.325 4 .955c1.696.959 3.017 2.455 3.813 3.783-1.357 2.289-4.042 5-7.813 5zm0-8c-1.657 0-3 1.343-3 3s1.343 3 3 3 3-1.343 3-3-1.343-3-3-3z"/>
  </svg>
  <span><strong>{{visitCount}}</strong> visitas</span>
</div>
                    <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
                        Sintoniza nuestra
                        programación variada y entretenida para disfrutar de la mejor música y
                        contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía diaria!</p>
                </div>
            </div>
        </div>

        <!-- Owl Carousel-->
        <div class="owl-carousel-wrap owl-carousel_style-2">
            {{> navbar}}
            <div class="owl-carousel" data-items="1" data-autoplay="true" data-lg-items="3" data-dots="false"
                data-nav="true" data-stage-padding="0" data-xs-stage-padding="90" data-sm-stage-padding="140"
                data-md-stage-padding="260" data-lg-stage-padding="1" data-loop="true" data-margin="0"
                data-mouse-drag="false" data-nav-custom="#owl-carousel-nav" data-center-mode="true" data-speed="500"
                data-lightgallery="group">
                <a class="thumb-ruby thumb-mixed_large" href="images/owl-carousel/tranque_tutuven_cauquenes_grande.png"
                    data-lightgallery="item"><img class="thumb-ruby__image"
                        src="images/owl-carousel/tranque_tutuven_cauquenes.png" alt="Tranque Tutuven Cauquenes"
                        width="649" height="427" />
                    <div class="thumb-ruby__caption">
                        <h2 class="text-light thumb-ruby__title heading-3">
                            Tranque Tutuven Cauquenes
                        </h2>
                        <p class="thumb-ruby__text text-light">El tranque Tutuven aprovecha las aguas del río Tutuvén y del estero
                            Tobalguén. El caudal de los afluentes se estima en 2 m³/s</p>
                    </div>
                </a><a class="thumb-ruby thumb-mixed_large"
                    href="images/owl-carousel/compuerta_tranque_tutuven_cauquenes_grande.jpg"
                    data-lightgallery="item"><img class="thumb-ruby__image"
                        src="images/owl-carousel/compuerta_tranque_tutuven_cauquenes.jpg"
                        alt="Compuerta Tranque Tutuven Cauquenes" width="649" height="427" />
                    <div class="thumb-ruby__caption">
                        <h2 class="text-light thumb-ruby__title heading-3">
                            Compuerta Tranque Tutuven Cauquenes
                        </h2>
                        <p class="thumb-ruby__text text-light">Se encuentra a sólo 9 kilómetros camino a Chanco Es un lugar muy
                            atractivo en verano para ir de picnic o a practicar pesca de orilla.</p>
                    </div>
                </a><a class="thumb-ruby thumb-mixed_large"
                    href="images/owl-carousel/embalse_tutuven_cauquenes_grande.jpg" data-lightgallery="item"><img
                        class="thumb-ruby__image" src="images/owl-carousel/embalse_tutuven_cauquenes.jpg"
                        alt=" Embalse Tutuven Cauquenes" width="649" height="427" />
                    <div class="thumb-ruby__caption">
                        <h2 class="text-light thumb-ruby__title heading-3">
                            Embalse Tutuven Cauquenes
                        </h2>
                        <p class="thumb-ruby__text text-light">El Embalse Tutuven es una obra hidráulica de almacenamiento para 13
                            hm³ de agua con fines de uso agrícola ubicada cerca de la ciudad de Cauquenes, en la Región
                            del Maule, Chile. </p>
                    </div>
                </a>
            </div>
            <div class="owl-outer-navigation" id="owl-carousel-nav">
                <button class="owl-arrow owl-arrow-prev">
                    <svg x="0px" y="0px" viewbox="0 0 28.5 16" width="26" height="14">
                        <line x1="27.5" y1="8" x2="1" y2="8" fill="none" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" stroke-miterlimit="10"></line>
                        <polyline fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            stroke-miterlimit="10" points="8.8,15 1,8 8.8,1"></polyline>
                    </svg>
                </button>
                <button class="owl-arrow owl-arrow-next">
                    <svg x="0px" y="0px" viewbox="0 0 28.5 16" width="26" height="14">
                        <line fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            stroke-miterlimit="10" x1="1" y1="8" x2="27.5" y2="8"></line>
                        <polyline fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            stroke-miterlimit="10" points="19.7,15 27.5,8 19.7,1"></polyline>
                    </svg>
                </button>
            </div>
        </div>
        <br>
        <br>
    </section>
    <!-- Awards-->
    <section class="section section-sm parallax-container bg-image-dark" data-parallax-img="images/awards/fondo.jpg">
        <div class="parallax-content">
            <div class="section-md text-center">
                <div class="shell">
                    {{!-- <div class="range range-50 range-lg-bottom">
                        <div class="cell-xs-6 cell-md-3 wow fadeIn">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/27f_terremoto_chile_chica.jpg" alt="27F Terremoto Chile"
                                    width="134" height="98" />
                                <h3 class="box-award__title">Terremoto 27F</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2010">2010</time>
                            </article>
                        </div>
                        <div class="cell-xs-6 cell-md-3 wow fadeIn" data-wow-delay=".1s">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/cauquenes_fundacion_chica.jpg" alt="Cauquenes fundación"
                                    width="115" height="117" />
                                <h3 class="box-award__title">Fundación de Cauquenes</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2014">1742</time>
                            </article>
                        </div>
                        <div class="cell-xs-6 cell-md-3 wow fadeIn" data-wow-delay=".2s">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/chanco_fundacion_chica.jpg" alt="Chanco fundación" width="116"
                                    height="103" />
                                <h3 class="box-award__title">Fundación de Chanco</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2015">1849</time>
                            </article>
                        </div>
                        <div class="cell-xs-6 cell-md-3 wow fadeIn" data-wow-delay=".3s">
                            <!-- Box award-->
                            <article class="box-award"><img class="box-award__image"
                                    src="images/awards/pelluhue_fundacion_chica.jpg" alt="Pelluhue fundación"
                                    width="131" height="96" />
                                <h3 class="box-award__title">Fundación de Pelluhue</h3>
                                <div class="box-award__divider"></div>
                                <time class="box-award__time" datetime="2016">1979</time>
                            </article>
                        </div>
                    </div> --}}
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </section>




    {{!-- <!-- Blog-->
    <section class="section section-md bg-gray-lighter text-center">
        <div class="shell">
            <p class="heading-1">Blog</p>
            <div class="range range-30">
                <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall">
                    <!-- Post boxed-->
                    <article class="post-boxed">
                        <ul class="post-boxed__meta">
                            <li>
                                <time datetime="2019">Jul 20, 2019</time>
                            </li>
                            <li><a href="#">3 comments</a></li>
                        </ul>
                        <div class="post-boxed__main">
                            <h3 class="post-boxed__title"><a href="#">Becoming a King and Queen for a Day</a></h3>
                            <p>For one day, the two of you are the focus of attention. The concerns of the world slip...
                            </p>
                        </div>
                        <div class="post-boxed__aside">
                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                <div class="unit__left"><img class="post-boxed__avatar" src="images/user-6-46x46.jpg"
                                        alt="user" width="46" height="46" />
                                </div>
                                <div class="unit__body">
                                    <h6 class="text-uppercase">by Susan Parker</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall" data-wow-delay=".15s">
                    <!-- Post boxed-->
                    <article class="post-boxed">
                        <ul class="post-boxed__meta">
                            <li>
                                <time datetime="2019">Jul 15, 2019</time>
                            </li>
                            <li><a href="#">3 comments</a></li>
                        </ul>
                        <div class="post-boxed__main">
                            <h3 class="post-boxed__title"><a href="#">How to Make Great Wedding Photos</a></h3>
                            <p>Today I’m going to answer the question that my clients ask almost after every photo
                                shoot. It’s a question...</p>
                        </div>
                        <div class="post-boxed__aside">
                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                <div class="unit__left"><img class="post-boxed__avatar" src="images/user-6-46x46.jpg"
                                        alt="user1" width="46" height="46" />
                                </div>
                                <div class="unit__body">
                                    <h6 class="text-uppercase">by Susan Parker</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="cell-sm-6 cell-md-4 wow fadeInLeftSmall" data-wow-delay=".3s">
                    <!-- Post boxed-->
                    <article class="post-boxed">
                        <ul class="post-boxed__meta">
                            <li>
                                <time datetime="2019">Jul 5, 2019</time>
                            </li>
                            <li><a href="#">3 comments</a></li>
                        </ul>
                        <div class="post-boxed__main">
                            <h3 class="post-boxed__title"><a href="#">5 Most Exotic Weddings</a></h3>
                            <p>Do you want to know where your wedding will be the most unforgettable? Read this post and
                                you’ll find...</p>
                        </div>
                        <div class="post-boxed__aside">
                            <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                                <div class="unit__left"><img class="post-boxed__avatar" src="images/user-6-46x46.jpg"
                                        alt="user2" width="46" height="46" />
                                </div>
                                <div class="unit__body">
                                    <h6 class="text-uppercase">by Susan Parker</h6>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section> --}}

    <!-- Book Your Photo Shoot-->
    <section class="section section-md bg-white">
        <div class="shell">
            <div class="range range-50 range-sm-center range-md-left range-md-reverse range-md-middle">

                <div class="cell-sm-10 cell-md-6 wow fadeInRight">
                    <article class="box-line"><span></span><span></span><span></span><span></span>
                        <div class="box-width-4 box-centered">
                            <h3 class="heading-3 text-center">Chat en Vivo</h3>
                            <br>
                            <!-- src/views/chat.hbs -->
                            <div id="alertContainer" class="alert" role="alert" style="display: none;">
                                <!-- Mensaje de alerta se agregará aquí -->
                            </div>

                            <div class="form-wrap">
                                <input class="form-input" id="name" type="text" name="name" placeholder="Tu nombre" required>
                                <label class="form-label" for="name"></label>
                            </div>
                            <br>
                            <div class="form-wrap">
                                <label class="form-label" for="message"></label>
                                <textarea id="message" class="form-input" name="message"
                                    placeholder="Escribe tu mensaje aquí..." required></textarea>
                            </div>

                            <br>
                            <div class="form-wrap form-button">
                                <button id="send" class="button button-block button-primary-outline button-ujarak"
                                    type="submit">Enviar</button>
                            </div>

                            <div id="chat-messages">
                                <ul>
                                    <li class="message-item">
                                        <div id="message-content" class="message-content">
                                            <div id="messages">

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>


                <div class="cell-sm-10 cell-md-6 wow fadeInLeft">


                    <article class="box-line"><span></span><span></span><span></span><span></span>
                        <div class="box-line__main">
                            <p class="heading-3">Conéctate con Nosotros</p>
                            {{#if successFlash}}
                            <div class="alert alert-success">{{successFlash}}</div>
                            {{/if}}
                            {{#if errorFlash}}
                            <div class="alert alert-danger">{{errorFlash}}</div>
                            {{/if}}

                            <!-- RD Mailform-->
                            <form method="post" action="/send-email">
                                {{!-- <div class="form-wrap">
                                    <input class="form-input" id="contact-date" type="text" data-time-picker="date"
                                        name="date" data-constraints="@Required">
                                    <label class="form-label" for="contact-date">Event Date</label>
                                </div> --}}
                                <div class="form-wrap">
                                    <input class="form-input" id="contact_name" type="text" name="name"
                                        required>
                                    <label class="form-label" for="contact_name">Tu nombre</label>
                                </div>
                                <div class="form-wrap">
                                    <input class="form-input" id="contact_email" type="email" name="email"
                                         required>
                                    <label class="form-label" for="contact_email">Correo</label>
                                </div>
                                <div class="form-wrap">
                                    <label class="form-label" for="contact_message">Tu mensaje</label>
                                    <textarea class="form-input" id="contact_message" name="message"
                                         required></textarea>
                                </div>
                                <!--Google captcha-->
                                <div class="form-wrap">
                                    <div id="token" class="g-recaptcha"
                                        data-sitekey="6LfraZUpAAAAAMDH8BZYuqrjpTZSDbX_AKJ5Wu_h"
                                        data-action="BTNCONTACTO" name="g-recaptcha-response"></div>
                                </div>
                                <!-- End google captcha-->
                                <div class="form-wrap form-button offset-1">
                                    <button class="button button-block button-primary-outline button-ujarak"
                                        type="submit">Escríbenos</button>
                                </div>
                            </form>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    {{> footer}}
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>



    {{> player}}
    <!-- Agrega el script de la biblioteca de reCAPTCHA -->
    <script async src="https://www.google.com/recaptcha/enterprise.js"></script>

</div>