
    {{>navbar}}
<br><br><br>
    <!-- Contenido principal -->
    <div class="container mt-4">

        <!-- Política de Privacidad -->
        <section id="politica-privacidad">
            <h1><strong>Política de Privacidad</strong></h1>
            <p>En Radio Tutuvén, estamos comprometidos con la privacidad de nuestros oyentes y usuarios.
                Nuestra Política de Privacidad describe cómo recopilamos, utilizamos, compartimos y protegemos la
                información personal recopilada a través de nuestros servicios.</p>

            <h2>1. Información Recopilada</h2>
            <p>Recopilamos información personal directamente de nuestros oyentes y usuarios, así como información
                automática a través del uso de nuestros servicios. La información puede incluir, pero no se limita a,
                nombres, direcciones de correo electrónico, preferencias de programación y datos de dispositivos.</p>

            <h2>2. Uso de la Información</h2>
            <p>Utilizamos la información recopilada para personalizar la programación, mejorar nuestros servicios,
                enviar actualizaciones relevantes y garantizar el cumplimiento de nuestras obligaciones contractuales y
                legales.</p>

            <h2>3. Compartir Información</h2>
            <p>No compartimos información personal con terceros sin el consentimiento explícito del usuario, a menos
                que sea necesario para cumplir con requisitos legales o mejorar la experiencia del usuario en nuestros
                servicios.</p>

            <h2>4. Cookies y Tecnologías Similares</h2>
            <p>Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario y recopilar datos
                analíticos. Al usar nuestros servicios, los usuarios aceptan el uso de cookies según lo descrito en
                nuestra Política de Cookies.</p>

            <h2>5. Publicidad Personalizada</h2>
            <p>Podemos utilizar información recopilada para ofrecer anuncios personalizados a través de nuestros
                servicios o de terceros. Los usuarios pueden optar por no participar en la publicidad personalizada
                ajustando las configuraciones de privacidad.</p>

            <h2>6. Enlaces a Terceros</h2>
            <p>Nuestros servicios pueden contener enlaces a sitios web de terceros. No nos hacemos responsables de las
                prácticas de privacidad de esos sitios y recomendamos revisar sus políticas de privacidad.</p>

            <h2>7. Seguridad de Datos</h2>
            <p>Implementamos medidas de seguridad para proteger la información personal contra el acceso no autorizado,
                la divulgación, la alteración y la destrucción. Nuestro personal está capacitado en la seguridad de
                datos y se toman las precauciones necesarias para garantizar la confidencialidad.</p>

            <h2>8. Derechos de los Usuarios</h2>
            <p>Los usuarios tienen el derecho de acceder, corregir o eliminar su información personal. Pueden ejercer
                estos derechos enviando una solicitud a nuestro equipo de privacidad.</p>

            <h2>9. Modificaciones en la Política</h2>
            <p>Nos reservamos el derecho de actualizar esta Política de Privacidad para reflejar cambios en nuestras
                prácticas de privacidad. Los cambios significativos se comunicarán a través de nuestros canales
                habituales.</p>

            <h2>10. Contacto</h2>
            <p>Si tienes preguntas o inquietudes sobre nuestra Política de Privacidad, no dudes en contactarnos a través
                de la información proporcionada al final de este documento.</p>

        </section>

    </div>
{{> footer}}
{{> player}}


