{{> pageloader}}
<div class="page">
  {{> header}}
  {{> navbar}}

  <section class="section section-md bg-white">
    <div class="shell">
      <div class="range range-50 range-sm-center">
        <div class="cell-xs-12">
          <h2 class="text-center">Programación</h2>

          <h4 class="mt-4">Programas</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Programas</th>
                  <th>Días</th>
                  <th>Horas</th>
                  <th>Conduce</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Folclore Chileno</td>
                  <td>Lunes a Sábado</td>
                  <td>12:00 – 13:00</td>
                  <td>German Rojas Ormazabal</td>
                </tr>
                <tr>
                  <td>En Los Tiempo De Mi Abuelo</td>
                  <td>Sábado y Domingo</td>
                  <td>17:00 – 18:00</td>
                  <td>Luis Antonio Gamboa</td>
                </tr>
                <tr>
                  <td>Fiesta Mix (Master Media)</td>
                  <td>Sábados</td>
                  <td>21:00</td>
                  <td>Ismael Pereira Calderón</td>
                </tr>
                <tr>
                  <td>Folclore Antiamericano</td>
                  <td>Domingo</td>
                  <td>12:00</td>
                  <td>German Rojas Ormazabal</td>
                </tr>
                <tr>
                  <td>Aire De Chile (Master Media)</td>
                  <td>Domingo</td>
                  <td>20:00</td>
                  <td>Ramón Madrid y Karina Fuentes</td>
                </tr>
                <tr>
                  <td>Una Reflexión Necesaria En La Sociedad Actual</td>
                  <td>Sábados</td>
                  <td>11:00</td>
                  <td>Capellán Guillermo Peña</td>
                </tr>
                <tr>
                  <td>¿Sabía Usted Que?</td>
                  <td>Sábados y Domingo</td>
                  <td>14:00</td>
                  <td>Profesor José Caban</td>
                </tr>
              </tbody>
            </table>
          </div>

          <h4 class="mt-5">Microprogramas</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Microprograma</th>
                  <th>Días</th>
                  <th>Horas</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Una Chispa De Humos</td>
                  <td>Lunes a Sábado</td>
                  <td>12:00</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Historias Mitos y Leyendas</td>
                  <td>Lunes a Sábado</td>
                  <td>7:10, 10:10, 13:10, 16:10, 19:10 y 22:10</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Música Un Artista De Cauquenes</td>
                  <td>Lunes a Sábado</td>
                  <td>01:35, 03:35, 05:35, 07:35, 09:35, 11:35, 13:35, 15:35, 17:35, 19:35, 21:35, 23:35</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </section>

  {{> footer}}
  {{> player}}
</div>