<!-- Page-->
<div class="page">
  <!-- Page Header-->
{{> navbar}}

  <!-- About Me-->
  <section class="section section-md bg-white">
    <div class="shell">
      <div class="range range-50 range-sm-center range-md-left">
        <div class="cell-sm-6 cell-md-5">
          <div class="thumb-bordered"><img src="images/about-1-437x435.jpg" alt="" width="437" height="435" />
          </div>
        </div>
        <div class="cell-sm-6 cell-md-7">
          <div class="box-width-3 box-centered">
            <article class="quote-big">
              <p class="q">I’ve been working as a professional wedding photographer all my adult life.</p>
            </article>
            <div class="divider"></div>
            <p class="text-spacing-05">My name is Susan Parker, and I have been a professional wedding photographer
              since 2005. On this website you can take a look at my latest photos or order a photo session for yourself
              or your family.</p>
            <div class="group-3-columns" data-lightgallery="group">
              <div class="column-item"><a class="thumb-light" href="images/certificate-1-847x1200.jpg"
                  data-lightgallery="item"><img src="images/certificate-1-120x171.jpg" alt="" width="120"
                    height="171" />
                  <div class="thumb-light__overlay"></div>
                </a></div>
              <div class="column-item"><a class="thumb-light" href="images/certificate-1-847x1200.jpg"
                  data-lightgallery="item"><img src="images/certificate-1-120x171.jpg" alt="" width="120"
                    height="171" />
                  <div class="thumb-light__overlay"></div>
                </a></div>
              <div class="column-item"><a class="thumb-light" href="images/certificate-1-847x1200.jpg"
                  data-lightgallery="item"><img src="images/certificate-1-120x171.jpg" alt="" width="120"
                    height="171" />
                  <div class="thumb-light__overlay"></div>
                </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- My Best Photos-->
  <section class="section bg-white text-center">
    <!-- Slick Carousel-->
    <div class="slick-wrap">
      <div class="slick-slider slick-style-1" data-arrows="true" data-autoplay="true" data-loop="true" data-dots="true"
        data-swipe="true" data-xs-swipe="true" data-sm-swipe="false" data-items="1" data-sm-items="3" data-md-items="3"
        data-lg-items="3" data-center-mode="true" data-lightgallery="group-slick">
        <div class="item">
          <div class="slick-slide-inner">
            <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                href="images/carousel/Tranque_Tutuven.jpg" data-lightgallery="item"><img class="thumb-ann__image"
                  src="images/carousel/Tranque_Tutuven.jpg" alt="" width="961" height="664" />
                <div class="thumb-ann__caption">
                  <p class="thumb-ann__title heading-3">Tranque Tutuven de Cauquenes</p>
                  <p class="thumb-ann__text">El Embalse Tutuven es una obra hidráulica de
                    almacenamiento para 13 hm³ de agua con fines de uso agrícola ubicada cerca de la
                    ciudad de Cauquenes, en la Región del Maule, Chile. </p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slick-slide-inner">
            <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                href="images/carousel/Interior_Parroquia_San_Alfonso.jpg" data-lightgallery="item"><img
                  class="thumb-ann__image" src="images/carousel/Interior_Parroquia_San_Alfonso.jpg" alt="" width="961"
                  height="664" />
                <div class="thumb-ann__caption">
                  <p class="thumb-ann__title heading-3">Interior Parroquia San Alfonso Cauquenes</p>
                  <p class="thumb-ann__text">Iglesia de estilo Neo-gótico construida durante el 1900
                    en la ciudad de Cauquenes, sobrevivió los terremotos de 1925, 1939, 1985 y 2010,
                    siendo uno de los patrimonios Arquitectónicos mas importantes de la ciudad, en
                    su interior altares y esculturas traídas desde Bélgica.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slick-slide-inner">
            <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                href="images/carousel/Liceo_Claudina_Urrutia.jpg" data-lightgallery="item"><img class="thumb-ann__image"
                  src="images/carousel/Liceo_Claudina_Urrutia.jpg" alt="" width="961" height="664" />
                <div class="thumb-ann__caption">
                  <p class="thumb-ann__title heading-3">Liceo Claudina Urrutia de Lavin de Cauquenes
                  </p>
                  <p class="thumb-ann__text">El Liceo Claudina Urrutia de Lavín fue fundado el 6 de
                    junio de 1900, en ese entonces como Liceo de Niñas de Cauquenes, siendo uno de
                    los más importantes de la comuna dado sus más de cien años de historia.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slick-slide-inner">
            <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                href="images/carousel/Viaducto_Chovollen.jpg" data-lightgallery="item"><img class="thumb-ann__image"
                  src="images/carousel/Viaducto_Chovollen.jpg" alt="" width="961" height="664" />
                <div class="thumb-ann__caption">
                  <p class="thumb-ann__title heading-3">Viadutco Chollevén, provincia de Cauquenes</p>
                  <p class="thumb-ann__text">Ubicado en Quilicura a 13 kilómetros al sur de Curanipe,
                    siguiendo la ruta costera entre el sector del cruce Chovellén y el sector de
                    Tregualemu, se encuentra el Viaducto, mirador natural en el que podrán
                    contemplar un hermoso paisaje y disfrutar de su entorno.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slick-slide-inner">
            <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large"
                href="images/carousel/Kiosko_Plaza_Cauquenes.jpg" data-lightgallery="item"><img class="thumb-ann__image"
                  src="images/carousel/Kiosko_Plaza_Cauquenes.jpg" alt="" width="961" height="664" />
                <div class="thumb-ann__caption">
                  <p class="thumb-ann__title heading-3">Kiosko Plaza de Cauquenes</p>
                  <p class="thumb-ann__text">Muchos dirían que es el corazón de la ciudad, este lugar
                    ve pasar a sus ciudadanos con más frecuencia. Una foto en el característico
                    kiosko, será una postal que no te debes perder, lugar que suele albergar eventos
                    y que además sirve de escenario, está rodeado por árboles que llevan años
                    existiendo.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- What People Say-->
  <section class="section section-md bg-white text-center">
    <div class="shell">
      <h1>What People Say</h1>
      <p><span>Need more feedback? </span><a href="#">Click Here!</a></p>
      <div class="range range-50 range-sm-center">
        <div class="cell-sm-9 cell-md-6">
          <!-- Quote boxed-->
          <article class="quote-boxed"><span></span><span></span><span></span><span></span>
            <p class="quote-boxed__title">The Best Photographer I Know</p>
            <div class="quote-boxed__text">
              <svg class="quote-boxed__shape" version="1.1" x="0px" y="0px" viewbox="0 0 32.2 28" width="32.2"
                height="28">
                <path
                  d="M6.2,0C2.8,0,0,2.8,0,6.3s2.8,6.3,6.2,6.3c6.2,0,2.1,12.3-6.2,12.3v3C14.7,27.9,20.4,0,6.2,0L6.2,0z M23.9,0       c-3.4,0-6.2,2.8-6.2,6.3s2.8,6.3,6.2,6.3c6.2,0,2.1,12.3-6.2,12.3v3C32.4,27.9,38.2,0,23.9,0L23.9,0z M23.9,0">
                </path>
              </svg>
              <p>I have been working with you for a long time and I can easily say that you are the best family
                photographer. Thank you for the high quality of your work!</p>
            </div>
            <ul class="quote-boxed__meta">
              <li>
                <div class="unit unit-horizontal unit-middle">
                  <div class="unit__left"><img class="quote-boxed__avatar" src="images/user-1-46x46.jpg" alt=""
                      width="46" height="46" />
                  </div>
                  <div class="unit__body">
                    <cite class="quote-boxed__cite">Rebecca Smith</cite>
                  </div>
                </div>
              </li>
              <li>
                <time class="quote-boxed__time" datetime="2017">Jul 20, 2019</time>
              </li>
            </ul>
          </article>
        </div>
        <div class="cell-sm-9 cell-md-6">
          <!-- Quote boxed-->
          <article class="quote-boxed"><span></span><span></span><span></span><span></span>
            <p class="quote-boxed__title">You Take the Best Photos!</p>
            <div class="quote-boxed__text">
              <svg class="quote-boxed__shape" version="1.1" x="0px" y="0px" viewbox="0 0 32.2 28" width="32.2"
                height="28">
                <path
                  d="M6.2,0C2.8,0,0,2.8,0,6.3s2.8,6.3,6.2,6.3c6.2,0,2.1,12.3-6.2,12.3v3C14.7,27.9,20.4,0,6.2,0L6.2,0z M23.9,0       c-3.4,0-6.2,2.8-6.2,6.3s2.8,6.3,6.2,6.3c6.2,0,2.1,12.3-6.2,12.3v3C32.4,27.9,38.2,0,23.9,0L23.9,0z M23.9,0">
                </path>
              </svg>
              <p>Thank you very much for the photos! They are very beautiful, especially printed. All the relatives are
                delighted and I hope to work with you again in the future.</p>
            </div>
            <ul class="quote-boxed__meta">
              <li>
                <div class="unit unit-horizontal unit-middle">
                  <div class="unit__left"><img class="quote-boxed__avatar" src="images/user-2-46x46.jpg" alt=""
                      width="46" height="46" />
                  </div>
                  <div class="unit__body">
                    <cite class="quote-boxed__cite">Jane Brown</cite>
                  </div>
                </div>
              </li>
              <li>
                <time class="quote-boxed__time" datetime="2017">Jul 20, 2019</time>
              </li>
            </ul>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section parallax-container bg-image-dark" data-parallax-img="images/bg-image-6-1920x1225.jpg">
    <div class="parallax-content">
      <section class="section-lg text-center">
        <div class="shell">
          <div class="range range-50 range-sm-center range-md-reverse range-md-middle">
            <div class="cell-md-6 cell-lg-5">
              <div class="box-width-4 box-centered">
                <p class="heading-1">
                  Book Your <br />
                  Photo Shoot
                </p>
                <div class="divider-small"></div>
                <p>
                  To order a photo shoot, please share as many details about
                  your particular wedding as possible. I will be giving you
                  my feedback immediately after I receive your message!
                </p>
              </div>
            </div>
            <div class="cell-sm-10 cell-md-6 cell-lg-7">
              <article class="box-bordered">
                <div class="box-bordered__main">
                  <!-- RD Mailform-->
                  <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post"
                    action="bat/rd-mailform.php">
                    <div class="form-wrap">
                      {{!-- <input class="form-input" id="contact-date" type="text" data-time-picker="date" name="date"
                        data-constraints="@Required" />
                      <label class="form-label" for="contact-date">Event Date</label> --}}
                    </div>
                    <div class="form-wrap">
                      <input class="form-input" id="contact-name" type="text" name="name"
                        data-constraints="@Required" />
                      <label class="form-label" for="contact-name">Your Name</label>
                    </div>
                    <div class="form-wrap">
                      <input class="form-input" id="contact-email" type="email" name="email"
                        data-constraints="@Email @Required" />
                      <label class="form-label" for="contact-email">E-mail</label>
                    </div>
                    <div class="form-wrap">
                      <label class="form-label" for="contact-message">Your Message</label>
                      <textarea class="form-input" id="contact-message" name="message"
                        data-constraints="@Required"></textarea>
                    </div>
                    <div class="form-wrap form-button offset-1">
                      <button class="button button-block button-primary-outline button-ujarak" type="submit">
                        make an appointment
                      </button>
                    </div>
                  </form>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  {{> footer}}


</div>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>

{{> player}}

