<!-- Page-->
<div class="page">
  <!-- My Best Photos-->
  <section class="section bg-gray-lighter text-center">
    <div class="shell">
      <br>
      <div class="range range-50 range-sm-center">
        <div class="cell-xs-12 cell-sm-4 cell-md-3 cell-lg-3">
          <img src="/images/logo-radio.png" alt="logo" style="width: 190px; height: 190px;">
        </div>
        <div class="cell-xs-12 cell-sm-8 cell-md-9 cell-lg-9">
          <h1 style="font-size: 4em;">Radio Tutuven Cauquenes</h1>
          <p style="color: #00bd9d;">¡Bienvenido a la emisora online líder en Cauquenes, región del Maule!
            Sintoniza nuestra
            programación variada y entretenida para disfrutar de la mejor música y
            contenido de interés. Desde Cauquenes para todo el mundo, ¡somos tu compañía</p>
        </div>
      </div>
    </div>
    {{> navbar}}

  </section>
  <!-- About Me-->
  <section class="section section-md bg-white">
    <div class="shell">
      <div class="range range-50 range-sm-center range-md-left">
        <div class="cell-sm-6 cell-md-5">
          <div class="thumb-bordered"><img src="images/quienes_somos/chuico_cauquenes_letras.jpg" alt="" width="437" height="435" />
          </div>
        </div>
        <div class="cell-sm-6 cell-md-7">
          <div class="box-width-3 box-centered">
            <article class="quote-big">
              <h2 class="q">Radio Tutuven: Promoviendo la Imagen de Cauquenes y Acercando a su Gente.</h2>
            </article>
            <div class="divider"></div>
            <p class="text-spacing-05">Radio Tutuven es una emisora online cuyo único propósito es promover la imagen de
              Cauquenes en todo el mundo, así como acercar a nuestra tierra a los cauqueninos dispersos en Chile y en
              otras latitudes, somos una radio comprometida, única y exclusivamente con nuestra ciudad y su gente, razón
              por la cual somos absolutamente independientes de cualquier ideología, ya que éstas distorsionan el
              enfoque de servicio que perseguimos como radio emisora. Somo un medio de comunicación sin fines de lucro,
              nuestras metas están en continuar con la difusión de la música de nuestros artistas Cauqueninos y la
              música de artistas chilenos y del mundo. Esperando contar con el apoyo de ustedes para seguir siendo tu
              punto de encuentro y ser una radio de calidad, orgullo de nuestro querido Cauquenes.</p>
            
          </div>
        </div>
      </div>
    </div>
  </section>


  {{> footer}}


</div>

{{> player}}