{{> navbar}}
<div class="container my-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="text-center mb-4">Quiénes Somos</h1>
      <p>Radio Tutuvén es una emisora de radio local ubicada en la hermosa ciudad de Cauquenes, en la región del Maule, Chile. Nos enorgullece ser parte activa de la comunidad cauquenina y brindar entretenimiento, información y compañía a nuestros oyentes.</p>
      <p>Nuestra misión es proporcionar una programación variada y de calidad que refleje los intereses y la diversidad de nuestra audiencia. Valoramos la conexión con nuestra comunidad y nos esforzamos por promover eventos locales, noticias relevantes y la cultura cauquenina en general.</p>
      <p>Con un equipo de profesionales comprometidos y apasionados por la radio, trabajamos día a día para mantenernos como una de las principales opciones radiofónicas en la región del Maule. Estamos dedicados a ofrecer contenido fresco, relevante y entretenido para nuestros oyentes, así como a apoyar iniciativas locales que beneficien a nuestra comunidad.</p>
      <p>¡Gracias por ser parte de la familia de Radio Tutuvén!</p>
    </div>
  </div>
</div>