h1 {
    font-size: 18px;
}
h2 {
    font-size: 15px
}
h3 {
    font-size: 14px
}
h4 {
    font-size: 13px
}
h5 {
    font-size: 20px
}
h6 {
    font-size: 15px
}
#bg-navbar {
    background-color: #5086c1;
}

#bg-repro {
    background-color: #5086c1;
}

#playBtn {
    color: #ffffff;
    outline: rgb(255, 255, 255) solid 1px
}
#background {
    background-color: #fff;
}
#img_carousel {
    width: auto;
    height: 300px;
}
#card {
    border-radius: 15px; /* Este valor determina el radio de las esquinas redondeadas */
    border: #0056b3;

}


.nav-link.active {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 700;
    transition: background-color .3s, color .3s
}
.nav-link.active:hover {
    background-color: #0056b3
}
.separator {
    width: 2px;
    background-color: #ccc;
    height: 20px;
    margin: 2 15px
}

.hr-principal {
    border: 1px solid rgba(32, 20, 22, .685);
    height: 1px;
    background: linear-gradient(to right, transparent, #ccc);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, .1);
    margin: 20px 4
}
